$--color-primary: #1e9fff;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--font-weight-primary: 500;
$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;


$--button-primary-border-color: #156fb2 !default;
$--button-danger-border-color: #e37589 !default;
$--button-success-border-color: #7fbe63 !default;
$--button-info-border-color: #909399 !default;
$--button-warning-border-color: #e6a23c !default;

@import "~element-ui/packages/theme-chalk/src/index";
