<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.AllInvoiceMapper">
    <resultMap id="invoiceResultMap" type="allInvoice">
        <id property="id" column="id"/>
        <result property="invoiceDate" column="invoiceDate"/>
        <result property="invoiceObject" column="invoiceObject"/>
        <result property="invoiceAmount" column="invoiceAmount"/>
        <result property="companyType" column="companyType"/>
        <result property="companyName" column="companyName"/>
        <result property="companyID" column="companyID"/>
        <result property="invoiceCompanyName" column="invoiceCompanyName"/>
        <result property="ticketPoint" column="ticketPoint"/>
        <result property="ticketPointAmount" column="ticketPointAmount"/>
        <result property="isOrderTax" column="isOrderTax"/>
        <result property="supplier" column="Supplier"/>
        <result property="supplierID" column="SupplierID"/>
        <result property="customer" column="customer"/>
        <result property="customerID" column="CustomerID"/>
        <result property="comments" column="comments"/>
        <result property="addtime" column="addtime"/>
        <result property="userId" column="userId"/>
        <result property="userName" column="UserName"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="delFlag"/>
        <result property="purchaseInvoiceAmount" column="purchaseInvoiceAmount"/>
        <result property="ticketPointCost" column="ticketPointCost"/>
        <result property="ticketPointCostAmount" column="ticketPointCostAmount"/>
        <result property="ticketPointIncome" column="ticketPointIncome"/>
        <result property="ticketPointIncomeAmount" column="ticketPointIncomeAmount"/>
        <result property="ticketPointDifference" column="ticketPointDifference"/>
        <result property="tableName" column="tableName"/>
        <result property="allPayments" column="allPayments"/>
        <result property="orderDate" column="orderDate"/>
        <result property="owedAmount" column="owedAmount"/>
    </resultMap>

    <select id="selectInvoices" parameterType="AllInvoice" resultMap="invoiceResultMap">
        SELECT tmp.id,
               COALESCE(g.ordersNo, tmp.ordersNo) AS ordersNo,
               tmp.invoiceDate,
               g.allPayments,
               g.orderDate,
               tmp.invoiceObject,
               tmp.invoiceAmount,
               tmp.companyType,
               tmp.companyName,
               tmp.companyID,
               tmp.invoiceCompanyName,
               tmp.ticketPoint,
               tmp.ticketPointAmount,
               tmp.isOrderTax,
               tmp.Supplier,
               tmp.SupplierID,
               tmp.customer,
               tmp.CustomerID,
               tmp.comments,
               tmp.addtime,
               tmp.userId,
               tmp.UserName,
               tmp.update_time,
               tmp.delFlag,
               tmp.purchaseInvoiceAmount,
               tmp.ticketPointCost,
               tmp.ticketPointCostAmount,
               tmp.ticketPointIncome,
               tmp.ticketPointIncomeAmount,
               tmp.ticketPointDifference,
               tmp.tableName,
               GREATEST(
                       COALESCE(
                               CASE
                                   WHEN COUNT(*) OVER (PARTITION BY COALESCE(g.ordersNo, tmp.ordersNo)) = 1 THEN
                                       g.allPayments - tmp.invoiceAmount
                                   ELSE
                                       g.allPayments - (SELECT SUM(tmp1.invoiceAmount)
                                                        FROM v_allInvoice tmp1
                                                        WHERE COALESCE(tmp1.ordersNo, tmp1.isOrderTax) =
                                                              COALESCE(g.ordersNo, tmp.ordersNo)
                                                          AND tmp1.invoiceDate &lt; tmp.invoiceDate)
                                   END, 0
                       ), 0
               )                                  AS owedAmount
        FROM v_allInvoice AS tmp
                 LEFT JOIN
             goodsorder g
             ON
                 (tmp.isOrderTax != 0 AND tmp.isOrderTax = g.id)
                     OR
                 (tmp.ordersNo IS NOT NULL AND tmp.ordersNo = g.ordersNo)
        <where>
            <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                AND tmp.invoiceDate BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="searchCompamyName != null and supplier != ''">
                AND (tmp.tableName = 'invoiceother' AND tmp.Supplier LIKE CONCAT('%', #{searchCompamyName}, '%')
                    OR tmp.tableName = 'invoiceother' AND tmp.customer LIKE CONCAT('%', #{searchCompamyName}, '%')
                    OR tmp.tableName = 'invoicein' AND tmp.companyName LIKE CONCAT('%', #{searchCompamyName}, '%')
                    OR tmp.tableName = 'invoiceout' AND tmp.companyName LIKE CONCAT('%', #{searchCompamyName}, '%'))
            </if>
            <if test="searchInvoiceCompanyName != null and searchInvoiceCompanyName != ''">
                AND tmp.invoiceCompanyName LIKE CONCAT('%', #{searchInvoiceCompanyName}, '%')
            </if>
        </where>
        ORDER BY COALESCE(g.orderDate, tmp.invoiceDate) DESC
    </select>

</mapper>