<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BankaccountMapper">
    
    <resultMap type="Bankaccount" id="BankaccountResult">
        <result property="id"    column="id"    />
        <result property="companyName"    column="companyName"    />
        <result property="companyId"    column="companyId"    />
        <result property="bankName"    column="bankName"    />
        <result property="acountsName"    column="acountsName"    />
        <result property="bankNo"    column="bankNo"    />
        <result property="acountsType"    column="acountsType"    />
        <result property="comments"    column="comments"    />
        <result property="amount"    column="amount"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>

    <sql id="selectBankaccountVo">
        select id, companyName, companyId, bankName, acountsName, bankNo, acountsType, comments, amount, delFlag from bankaccount
    </sql>

    <select id="selectBankaccountList" parameterType="Bankaccount" resultMap="BankaccountResult">
        <include refid="selectBankaccountVo"/>
        <where>  
            <if test="companyName != null  and companyName != ''"> and companyName like concat('%', #{companyName}, '%')</if>
            <if test="companyId != null "> and companyId = #{companyId}</if>
            <if test="bankName != null  and bankName != ''"> and bankName like concat('%', #{bankName}, '%')</if>
            <if test="acountsName != null  and acountsName != ''"> and acountsName like concat('%', #{acountsName}, '%')</if>
            <if test="bankNo != null  and bankNo != ''"> and bankNo = #{bankNo}</if>
            <if test="acountsType != null  and acountsType != ''"> and acountsType = #{acountsType}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="delFlag != null "> and delFlag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectBankaccountById" parameterType="Long" resultMap="BankaccountResult">
        <include refid="selectBankaccountVo"/>
        where id = #{id}
    </select>

    <insert id="insertBankaccount" parameterType="Bankaccount" useGeneratedKeys="true" keyProperty="id">
        insert into bankaccount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null">companyName,</if>
            <if test="companyId != null">companyId,</if>
            <if test="bankName != null">bankName,</if>
            <if test="acountsName != null">acountsName,</if>
            <if test="bankNo != null">bankNo,</if>
            <if test="acountsType != null">acountsType,</if>
            <if test="comments != null">comments,</if>
            <if test="amount != null">amount,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null">#{companyName},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="bankName != null">#{bankName},</if>
            <if test="acountsName != null">#{acountsName},</if>
            <if test="bankNo != null">#{bankNo},</if>
            <if test="acountsType != null">#{acountsType},</if>
            <if test="comments != null">#{comments},</if>
            <if test="amount != null">#{amount},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateBankaccount" parameterType="Bankaccount">
        update bankaccount
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyName != null">companyName = #{companyName},</if>
            <if test="companyId != null">companyId = #{companyId},</if>
            <if test="bankName != null">bankName = #{bankName},</if>
            <if test="acountsName != null">acountsName = #{acountsName},</if>
            <if test="bankNo != null">bankNo = #{bankNo},</if>
            <if test="acountsType != null">acountsType = #{acountsType},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBankaccountById" parameterType="Long">
        delete from bankaccount where id = #{id}
    </delete>

    <delete id="deleteBankaccountByIds" parameterType="String">
        delete from bankaccount where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>