<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.BusinessTripMapper">
    
    <resultMap type="BusinessTrip" id="BusinessTripResult">
        <result property="id"    column="id"    />
        <result property="employeeID"    column="employeeID"    />
        <result property="employee"    column="employee"    />
        <result property="personnel"    column="personnel"    />
        <result property="starttime"    column="starttime"    />
        <result property="endtime"    column="endtime"    />
        <result property="attachmentPath"    column="attachmentPath"    />
        <result property="isReimburse"    column="isReimburse"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>


 

    <sql id="selectBusinessTripVo">
        select id, employeeID, employee, personnel, starttime, endtime, attachmentPath, isReimburse, comments, addtime, userId, UserName, update_time, delFlag from BusinessTrip
    </sql>

    <select id="selectBusinessTripList" parameterType="BusinessTrip" resultMap="BusinessTripResult">
        <include refid="selectBusinessTripVo"/>
        <where>  
            <if test="employeeID != null "> and employeeID = #{employeeID}</if>
            <if test="employee != null  and employee != ''"> and employee = #{employee}</if>
            <if test="personnel != null  and personnel != ''"> and personnel = #{personnel}</if>
            <if test="starttime != null  and starttime != ''"> and starttime = #{starttime}</if>
            <if test="endtime != null  and endtime != ''"> and endtime = #{endtime}</if>
            <if test="attachmentPath != null  and attachmentPath != ''"> and attachmentPath = #{attachmentPath}</if>
            <if test="isReimburse != null "> and isReimburse = #{isReimburse}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            and delFlag = 0
        </where>
    </select>
    
    <select id="selectBusinessTripById" parameterType="Long" resultMap="BusinessTripResult">
        <include refid="selectBusinessTripVo"/>
        where id = #{id}
        and delFlag = 0
    </select>

    <insert id="insertBusinessTrip" parameterType="BusinessTrip" useGeneratedKeys="true" keyProperty="id">
        insert into BusinessTrip
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="employeeID != null">employeeID,</if>
            <if test="employee != null">employee,</if>
            <if test="personnel != null">personnel,</if>
            <if test="starttime != null">starttime,</if>
            <if test="endtime != null">endtime,</if>
            <if test="attachmentPath != null">attachmentPath,</if>
            <if test="isReimburse != null">isReimburse,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="employeeID != null">#{employeeID},</if>
            <if test="employee != null">#{employee},</if>
            <if test="personnel != null">#{personnel},</if>
            <if test="starttime != null">#{starttime},</if>
            <if test="endtime != null">#{endtime},</if>
            <if test="attachmentPath != null">#{attachmentPath},</if>
            <if test="isReimburse != null">#{isReimburse},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateBusinessTrip" parameterType="BusinessTrip">
        update BusinessTrip
        <trim prefix="SET" suffixOverrides=",">
            <if test="employeeID != null">employeeID = #{employeeID},</if>
            <if test="employee != null">employee = #{employee},</if>
            <if test="personnel != null">personnel = #{personnel},</if>
            <if test="starttime != null">starttime = #{starttime},</if>
            <if test="endtime != null">endtime = #{endtime},</if>
            <if test="attachmentPath != null">attachmentPath = #{attachmentPath},</if>
            <if test="isReimburse != null">isReimburse = #{isReimburse},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteBusinessTripById" parameterType="Long">
        update BusinessTrip set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteBusinessTripByIds" parameterType="String">
        update BusinessTrip set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>