<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.CarsMapper">
    
    <resultMap type="Cars" id="CarsResult">
        <result property="id"    column="id"    />
        <result property="carNo"    column="carNo"    />
        <result property="driver"    column="driver"    />
        <result property="tel"    column="tel"    />
        <result property="bankName"    column="bankName"    />
        <result property="acountsName"    column="acountsName"    />
        <result property="bankNo"    column="bankNo"    />
        <result property="acountsType"    column="acountsType"    />
        <result property="carType"    column="carType"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>

    <sql id="selectCarsVo">
        select id, carNo, driver, tel, bankName, acountsName, bankNo, acountsType, carType, addtime, userId, UserName, update_time, delFlag from cars
    </sql>

    <select id="selectCarsList" parameterType="Cars" resultMap="CarsResult">
        <include refid="selectCarsVo"/>
        <where>  
            <if test="carNo != null  and carNo != ''"> and carNo = #{carNo}</if>
            <if test="driver != null  and driver != ''"> and driver = #{driver}</if>
            <if test="tel != null  and tel != ''"> and tel = #{tel}</if>
            <if test="bankName != null  and bankName != ''"> and bankName like concat('%', #{bankName}, '%')</if>
            <if test="acountsName != null  and acountsName != ''"> and acountsName like concat('%', #{acountsName}, '%')</if>
            <if test="bankNo != null  and bankNo != ''"> and bankNo = #{bankNo}</if>
            <if test="acountsType != null "> and acountsType = #{acountsType}</if>
            <if test="carType != null  and carType != ''"> and carType = #{carType}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            <if test="delFlag != null "> and delFlag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectCarsById" parameterType="Long" resultMap="CarsResult">
        <include refid="selectCarsVo"/>
        where id = #{id}
    </select>

    <insert id="insertCars" parameterType="Cars" useGeneratedKeys="true" keyProperty="id">
        insert into cars
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="carNo != null">carNo,</if>
            <if test="driver != null">driver,</if>
            <if test="tel != null">tel,</if>
            <if test="bankName != null">bankName,</if>
            <if test="acountsName != null">acountsName,</if>
            <if test="bankNo != null">bankNo,</if>
            <if test="acountsType != null">acountsType,</if>
            <if test="carType != null">carType,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="carNo != null">#{carNo},</if>
            <if test="driver != null">#{driver},</if>
            <if test="tel != null">#{tel},</if>
            <if test="bankName != null">#{bankName},</if>
            <if test="acountsName != null">#{acountsName},</if>
            <if test="bankNo != null">#{bankNo},</if>
            <if test="acountsType != null">#{acountsType},</if>
            <if test="carType != null">#{carType},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateCars" parameterType="Cars">
        update cars
        <trim prefix="SET" suffixOverrides=",">
            <if test="carNo != null">carNo = #{carNo},</if>
            <if test="driver != null">driver = #{driver},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="bankName != null">bankName = #{bankName},</if>
            <if test="acountsName != null">acountsName = #{acountsName},</if>
            <if test="bankNo != null">bankNo = #{bankNo},</if>
            <if test="acountsType != null">acountsType = #{acountsType},</if>
            <if test="carType != null">carType = #{carType},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCarsById" parameterType="Long">
        delete from cars where id = #{id}
    </delete>

    <delete id="deleteCarsByIds" parameterType="String">
        delete from cars where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>