<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.ExWarehouseMapper">
    
    <resultMap type="ExWarehouse" id="ExWarehouseResult">
        <result property="id"    column="id"    />
        <result property="ordersNo"    column="ordersNo"    />
        <result property="storeHouseid"    column="storeHouseid"    />
        <result property="storeHouseName"    column="storeHouseName"    />
        <result property="storeID"    column="storeID"    />
        <result property="outDate"    column="outDate"    />
        <result property="outAmount"    column="outAmount"    />
        <result property="delFlag"    column="delFlag"    />
        <result property="updateTime"    column="update_time"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
    </resultMap>


 

    <sql id="selectExWarehouseVo">
        select id, ordersNo, storeHouseid, storeHouseName, storeID, outDate, outAmount, delFlag, update_time, addtime, userId, UserName from exWarehouse
    </sql>

    <select id="selectExWarehouseList" parameterType="ExWarehouse" resultMap="ExWarehouseResult">
        <include refid="selectExWarehouseVo"/>
        <where>  
            <if test="ordersNo != null  and ordersNo != ''"> and ordersNo = #{ordersNo}</if>
            <if test="storeHouseid != null "> and storeHouseid = #{storeHouseid}</if>
            <if test="storeHouseName != null  and storeHouseName != ''"> and storeHouseName like concat('%', #{storeHouseName}, '%')</if>
            <if test="storeID != null "> and storeID = #{storeID}</if>
            <if test="outDate != null  and outDate != ''"> and outDate = #{outDate}</if>
            <if test="outAmount != null "> and outAmount = #{outAmount}</if>
            and delFlag = 0
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
        </where>
    </select>
    
    <select id="selectExWarehouseById" parameterType="Long" resultMap="ExWarehouseResult">
        <include refid="selectExWarehouseVo"/>
        where id = #{id}
        and delFlag = 0
    </select>

    <insert id="insertExWarehouse" parameterType="ExWarehouse" useGeneratedKeys="true" keyProperty="id">
        insert into exWarehouse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ordersNo != null">ordersNo,</if>
            <if test="storeHouseid != null">storeHouseid,</if>
            <if test="storeHouseName != null">storeHouseName,</if>
            <if test="storeID != null">storeID,</if>
            <if test="outDate != null">outDate,</if>
            <if test="outAmount != null">outAmount,</if>
            <if test="delFlag != null">delFlag,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ordersNo != null">#{ordersNo},</if>
            <if test="storeHouseid != null">#{storeHouseid},</if>
            <if test="storeHouseName != null">#{storeHouseName},</if>
            <if test="storeID != null">#{storeID},</if>
            <if test="outDate != null">#{outDate},</if>
            <if test="outAmount != null">#{outAmount},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
         </trim>
    </insert>

    <update id="updateExWarehouse" parameterType="ExWarehouse">
        update exWarehouse
        <trim prefix="SET" suffixOverrides=",">
            <if test="ordersNo != null">ordersNo = #{ordersNo},</if>
            <if test="storeHouseid != null">storeHouseid = #{storeHouseid},</if>
            <if test="storeHouseName != null">storeHouseName = #{storeHouseName},</if>
            <if test="storeID != null">storeID = #{storeID},</if>
            <if test="outDate != null">outDate = #{outDate},</if>
            <if test="outAmount != null">outAmount = #{outAmount},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteExWarehouseById" parameterType="Long">
        update exWarehouse set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteExWarehouseByIds" parameterType="String">
        update exWarehouse set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteExWarehouseByOrderNo">
        update exWarehouse set delFlag = 1 where ordersNo = #{ordersNo}
    </update>
</mapper>