<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FixedassetsMapper">
    
    <resultMap type="Fixedassets" id="FixedassetsResult">
        <result property="id"    column="id"    />
        <result property="buyDate"    column="buyDate"    />
        <result property="assetNo"    column="assetNo"    />
        <result property="assetName"    column="assetName"    />
        <result property=" specification"    column=" specification"    />
        <result property="number"    column="number"    />
        <result property="measurementUnit"    column="measurementUnit"    />
        <result property="amountIncludeTax"    column="amountIncludeTax"    />
        <result property="amountNoTax"    column="amountNoTax"    />
        <result property="account"    column="account"    />
        <result property="department"    column="department"    />
        <result property="scrapDate"    column="scrapDate"    />
        <result property="saleAmount"    column="saleAmount"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>

    <sql id="selectFixedassetsVo">
        select id, buyDate, assetNo, assetName,  specification, number, measurementUnit, amountIncludeTax, amountNoTax, account, department, scrapDate, saleAmount, comments, addtime, userId, UserName, update_time, delFlag from fixedassets
    </sql>

    <select id="selectFixedassetsList" parameterType="Fixedassets" resultMap="FixedassetsResult">
        <include refid="selectFixedassetsVo"/>
        <where>  
            <if test="buyDate != null  and buyDate != ''"> and buyDate = #{buyDate}</if>
            <if test="assetNo != null  and assetNo != ''"> and assetNo = #{assetNo}</if>
            <if test="assetName != null  and assetName != ''"> and assetName like concat('%', #{assetName}, '%')</if>
            <if test=" specification != null  and specification != ''"> and  specification = #{ specification}</if>
            <if test="number != null  and number != ''"> and number = #{number}</if>
            <if test="measurementUnit != null  and measurementUnit != ''"> and measurementUnit = #{measurementUnit}</if>
            <if test="amountIncludeTax != null "> and amountIncludeTax = #{amountIncludeTax}</if>
            <if test="amountNoTax != null "> and amountNoTax = #{amountNoTax}</if>
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="department != null  and department != ''"> and department = #{department}</if>
            <if test="scrapDate != null  and scrapDate != ''"> and scrapDate = #{scrapDate}</if>
            <if test="saleAmount != null "> and saleAmount = #{saleAmount}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            <if test="delFlag != null "> and delFlag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectFixedassetsById" parameterType="Long" resultMap="FixedassetsResult">
        <include refid="selectFixedassetsVo"/>
        where id = #{id}
    </select>

    <insert id="insertFixedassets" parameterType="Fixedassets" useGeneratedKeys="true" keyProperty="id">
        insert into fixedassets
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="buyDate != null">buyDate,</if>
            <if test="assetNo != null">assetNo,</if>
            <if test="assetName != null">assetName,</if>
            <if test=" specification != null"> specification,</if>
            <if test="number != null">number,</if>
            <if test="measurementUnit != null">measurementUnit,</if>
            <if test="amountIncludeTax != null">amountIncludeTax,</if>
            <if test="amountNoTax != null">amountNoTax,</if>
            <if test="account != null">account,</if>
            <if test="department != null">department,</if>
            <if test="scrapDate != null">scrapDate,</if>
            <if test="saleAmount != null">saleAmount,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="buyDate != null">#{buyDate},</if>
            <if test="assetNo != null">#{assetNo},</if>
            <if test="assetName != null">#{assetName},</if>
            <if test=" specification != null">#{ specification},</if>
            <if test="number != null">#{number},</if>
            <if test="measurementUnit != null">#{measurementUnit},</if>
            <if test="amountIncludeTax != null">#{amountIncludeTax},</if>
            <if test="amountNoTax != null">#{amountNoTax},</if>
            <if test="account != null">#{account},</if>
            <if test="department != null">#{department},</if>
            <if test="scrapDate != null">#{scrapDate},</if>
            <if test="saleAmount != null">#{saleAmount},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateFixedassets" parameterType="Fixedassets">
        update fixedassets
        <trim prefix="SET" suffixOverrides=",">
            <if test="buyDate != null">buyDate = #{buyDate},</if>
            <if test="assetNo != null">assetNo = #{assetNo},</if>
            <if test="assetName != null">assetName = #{assetName},</if>
            <if test=" specification != null"> specification = #{ specification},</if>
            <if test="number != null">number = #{number},</if>
            <if test="measurementUnit != null">measurementUnit = #{measurementUnit},</if>
            <if test="amountIncludeTax != null">amountIncludeTax = #{amountIncludeTax},</if>
            <if test="amountNoTax != null">amountNoTax = #{amountNoTax},</if>
            <if test="account != null">account = #{account},</if>
            <if test="department != null">department = #{department},</if>
            <if test="scrapDate != null">scrapDate = #{scrapDate},</if>
            <if test="saleAmount != null">saleAmount = #{saleAmount},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFixedassetsById" parameterType="Long">
        delete from fixedassets where id = #{id}
    </delete>

    <delete id="deleteFixedassetsByIds" parameterType="String">
        delete from fixedassets where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>