<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.InventoryMapper">
    
    <resultMap type="Inventory" id="InventoryResult">
        <result property="id"    column="id"    />
        <result property="storeHouseid"    column="storeHouseid"    />
        <result property="storeHouseName"    column="storeHouseName"    />
        <result property="storeDate"    column="storeDate"    />
        <result property="stockNumber"    column="stockNumber"    />
        <result property="supplier"    column="supplier"    />
        <result property="supplierId"    column="supplierId"    />
        <result property="levelID"    column="levelID"    />
        <result property="levelName"    column="levelName"    />
        <result property="countingUnit"    column="countingUnit"    />
        <result property="height"    column="height"    />
        <result property="length"    column="length"    />
        <result property="width"    column="width"    />
        <result property="pieces"    column="pieces"    />
        <result property="piecesPerPack"    column="piecesPerPack"    />
        <result property="packs"    column="packs"    />
        <result property="price"    column="price"    />
        <result property="isIncludeTaxFactory"    column="isIncludeTaxFactory"    />
        <result property="sundryCost"    column="sundryCost"    />
        <result property="paymentFactory"    column="paymentFactory"    />
        <result property="paymentUnload"    column="paymentUnload"    />
        <result property="isIncludeTaxSale"    column="isIncludeTaxSale"    />
        <result property="payments"    column="payments"    />
        <result property="landCarID"    column="landCarID"    />
        <result property="landCarNo"    column="landCarNo"    />
        <result property="landDriverTel"    column="landDriverTel"    />
        <result property="landDriverName"    column="landDriverName"    />
        <result property="seaCarID"    column="seaCarID"    />
        <result property="seaCarNo"    column="seaCarNo"    />
        <result property="seaDriverTel"    column="seaDriverTel"    />
        <result property="seaDriverName"    column="seaDriverName"    />
        <result property="erro"    column="erro"    />
        <result property="tonnage"    column="tonnage"    />
        <result property="landFreightPrice"    column="landFreightPrice"    />
        <result property="landFreight"    column="landFreight"    />
        <result property="seaFreight"    column="seaFreight"    />
        <result property="freight"    column="freight"    />
        <result property="otherCost"    column="otherCost"    />
        <result property="profit"    column="profit"    />
        <result property="profitNoTax"    column="profitNoTax"    />
        <result property="actualPieces"    column="actualPieces"    />
        <result property="paymentsWithSundry"    column="paymentsWithSundry"    />
        <result property="additionalFees"    column="additionalFees"    />
        <result property="rebate"    column="rebate"    />
        <result property="customerCommission"    column="customerCommission"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
        <result property="showFlag"    column="showFlag"    />
    </resultMap>


 

    <sql id="selectInventoryVo">
        select id, storeHouseid, storeHouseName, storeDate, stockNumber, supplier, supplierId, levelID, levelName, countingUnit, height, length, width, pieces, piecesPerPack, packs, price, isIncludeTaxFactory, sundryCost, paymentFactory, paymentUnload, isIncludeTaxSale, payments, landCarID, landCarNo, landDriverTel, landDriverName, seaCarID, seaCarNo, seaDriverTel, seaDriverName, erro, tonnage, landFreightPrice, landFreight, seaFreight, freight, otherCost, profit, profitNoTax, actualPieces, paymentsWithSundry, additionalFees, rebate, customerCommission, comments, addtime, userId, UserName, update_time, delFlag, showFlag from inventory
    </sql>

    <select id="selectInventoryList" parameterType="Inventory" resultMap="InventoryResult">
        <include refid="selectInventoryVo"/>
        <where>  
            <if test="storeHouseid != null "> and storeHouseid = #{storeHouseid}</if>
            <if test="storeHouseName != null  and storeHouseName != ''"> and storeHouseName like concat('%', #{storeHouseName}, '%')</if>
            <if test="storeDate != null  and storeDate != ''"> and storeDate = #{storeDate}</if>
            <if test="stockNumber != null "> and stockNumber = #{stockNumber}</if>
            <if test="supplier != null  and supplier != ''"> and supplier = #{supplier}</if>
            <if test="supplierId != null "> and supplierId = #{supplierId}</if>
            <if test="levelID != null "> and levelID = #{levelID}</if>
            <if test="levelName != null  and levelName != ''"> and levelName like concat('%', #{levelName}, '%')</if>
            <if test="countingUnit != null  and countingUnit != ''"> and countingUnit = #{countingUnit}</if>
            <if test="height != null "> and height = #{height}</if>
            <if test="length != null "> and length = #{length}</if>
            <if test="width != null "> and width = #{width}</if>
            <if test="pieces != null "> and pieces = #{pieces}</if>
            <if test="piecesPerPack != null "> and piecesPerPack = #{piecesPerPack}</if>
            <if test="packs != null "> and packs = #{packs}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="isIncludeTaxFactory != null "> and isIncludeTaxFactory = #{isIncludeTaxFactory}</if>
            <if test="sundryCost != null "> and sundryCost = #{sundryCost}</if>
            <if test="paymentFactory != null "> and paymentFactory = #{paymentFactory}</if>
            <if test="paymentUnload != null "> and paymentUnload = #{paymentUnload}</if>
            <if test="isIncludeTaxSale != null "> and isIncludeTaxSale = #{isIncludeTaxSale}</if>
            <if test="payments != null  and payments != ''"> and payments = #{payments}</if>
            <if test="landCarID != null "> and landCarID = #{landCarID}</if>
            <if test="landCarNo != null  and landCarNo != ''"> and landCarNo = #{landCarNo}</if>
            <if test="landDriverTel != null  and landDriverTel != ''"> and landDriverTel = #{landDriverTel}</if>
            <if test="landDriverName != null  and landDriverName != ''"> and landDriverName like concat('%', #{landDriverName}, '%')</if>
            <if test="seaCarID != null "> and seaCarID = #{seaCarID}</if>
            <if test="seaCarNo != null  and seaCarNo != ''"> and seaCarNo = #{seaCarNo}</if>
            <if test="seaDriverTel != null  and seaDriverTel != ''"> and seaDriverTel = #{seaDriverTel}</if>
            <if test="seaDriverName != null  and seaDriverName != ''"> and seaDriverName like concat('%', #{seaDriverName}, '%')</if>
            <if test="erro != null "> and erro = #{erro}</if>
            <if test="tonnage != null "> and tonnage = #{tonnage}</if>
            <if test="landFreightPrice != null "> and landFreightPrice = #{landFreightPrice}</if>
            <if test="landFreight != null "> and landFreight = #{landFreight}</if>
            <if test="seaFreight != null "> and seaFreight = #{seaFreight}</if>
            <if test="freight != null "> and freight = #{freight}</if>
            <if test="otherCost != null "> and otherCost = #{otherCost}</if>
            <if test="profit != null "> and profit = #{profit}</if>
            <if test="profitNoTax != null "> and profitNoTax = #{profitNoTax}</if>
            <if test="actualPieces != null "> and actualPieces = #{actualPieces}</if>
            <if test="paymentsWithSundry != null "> and paymentsWithSundry = #{paymentsWithSundry}</if>
            <if test="additionalFees != null "> and additionalFees = #{additionalFees}</if>
            <if test="rebate != null "> and rebate = #{rebate}</if>
            <if test="customerCommission != null "> and customerCommission = #{customerCommission}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            and delFlag = 0
            <if test="showFlag != null "> and showFlag = #{showFlag}</if>
        </where>
    </select>
    
    <select id="selectInventoryById" parameterType="Long" resultMap="InventoryResult">
        <include refid="selectInventoryVo"/>
        where id = #{id}
        and delFlag = 0
    </select>

    <insert id="insertInventory" parameterType="Inventory" useGeneratedKeys="true" keyProperty="id">
        insert into inventory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeHouseid != null">storeHouseid,</if>
            <if test="storeHouseName != null">storeHouseName,</if>
            <if test="storeDate != null">storeDate,</if>
            <if test="stockNumber != null">stockNumber,</if>
            <if test="supplier != null">supplier,</if>
            <if test="supplierId != null">supplierId,</if>
            <if test="levelID != null">levelID,</if>
            <if test="levelName != null">levelName,</if>
            <if test="countingUnit != null">countingUnit,</if>
            <if test="height != null">height,</if>
            <if test="length != null">length,</if>
            <if test="width != null">width,</if>
            <if test="pieces != null">pieces,</if>
            <if test="piecesPerPack != null">piecesPerPack,</if>
            <if test="packs != null">packs,</if>
            <if test="price != null">price,</if>
            <if test="isIncludeTaxFactory != null">isIncludeTaxFactory,</if>
            <if test="sundryCost != null">sundryCost,</if>
            <if test="paymentFactory != null">paymentFactory,</if>
            <if test="paymentUnload != null">paymentUnload,</if>
            <if test="isIncludeTaxSale != null">isIncludeTaxSale,</if>
            <if test="payments != null">payments,</if>
            <if test="landCarID != null">landCarID,</if>
            <if test="landCarNo != null">landCarNo,</if>
            <if test="landDriverTel != null">landDriverTel,</if>
            <if test="landDriverName != null">landDriverName,</if>
            <if test="seaCarID != null">seaCarID,</if>
            <if test="seaCarNo != null">seaCarNo,</if>
            <if test="seaDriverTel != null">seaDriverTel,</if>
            <if test="seaDriverName != null">seaDriverName,</if>
            <if test="erro != null">erro,</if>
            <if test="tonnage != null">tonnage,</if>
            <if test="landFreightPrice != null">landFreightPrice,</if>
            <if test="landFreight != null">landFreight,</if>
            <if test="seaFreight != null">seaFreight,</if>
            <if test="freight != null">freight,</if>
            <if test="otherCost != null">otherCost,</if>
            <if test="profit != null">profit,</if>
            <if test="profitNoTax != null">profitNoTax,</if>
            <if test="actualPieces != null">actualPieces,</if>
            <if test="paymentsWithSundry != null">paymentsWithSundry,</if>
            <if test="additionalFees != null">additionalFees,</if>
            <if test="rebate != null">rebate,</if>
            <if test="customerCommission != null">customerCommission,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
            <if test="showFlag != null">showFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeHouseid != null">#{storeHouseid},</if>
            <if test="storeHouseName != null">#{storeHouseName},</if>
            <if test="storeDate != null">#{storeDate},</if>
            <if test="stockNumber != null">#{stockNumber},</if>
            <if test="supplier != null">#{supplier},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="levelID != null">#{levelID},</if>
            <if test="levelName != null">#{levelName},</if>
            <if test="countingUnit != null">#{countingUnit},</if>
            <if test="height != null">#{height},</if>
            <if test="length != null">#{length},</if>
            <if test="width != null">#{width},</if>
            <if test="pieces != null">#{pieces},</if>
            <if test="piecesPerPack != null">#{piecesPerPack},</if>
            <if test="packs != null">#{packs},</if>
            <if test="price != null">#{price},</if>
            <if test="isIncludeTaxFactory != null">#{isIncludeTaxFactory},</if>
            <if test="sundryCost != null">#{sundryCost},</if>
            <if test="paymentFactory != null">#{paymentFactory},</if>
            <if test="paymentUnload != null">#{paymentUnload},</if>
            <if test="isIncludeTaxSale != null">#{isIncludeTaxSale},</if>
            <if test="payments != null">#{payments},</if>
            <if test="landCarID != null">#{landCarID},</if>
            <if test="landCarNo != null">#{landCarNo},</if>
            <if test="landDriverTel != null">#{landDriverTel},</if>
            <if test="landDriverName != null">#{landDriverName},</if>
            <if test="seaCarID != null">#{seaCarID},</if>
            <if test="seaCarNo != null">#{seaCarNo},</if>
            <if test="seaDriverTel != null">#{seaDriverTel},</if>
            <if test="seaDriverName != null">#{seaDriverName},</if>
            <if test="erro != null">#{erro},</if>
            <if test="tonnage != null">#{tonnage},</if>
            <if test="landFreightPrice != null">#{landFreightPrice},</if>
            <if test="landFreight != null">#{landFreight},</if>
            <if test="seaFreight != null">#{seaFreight},</if>
            <if test="freight != null">#{freight},</if>
            <if test="otherCost != null">#{otherCost},</if>
            <if test="profit != null">#{profit},</if>
            <if test="profitNoTax != null">#{profitNoTax},</if>
            <if test="actualPieces != null">#{actualPieces},</if>
            <if test="paymentsWithSundry != null">#{paymentsWithSundry},</if>
            <if test="additionalFees != null">#{additionalFees},</if>
            <if test="rebate != null">#{rebate},</if>
            <if test="customerCommission != null">#{customerCommission},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="showFlag != null">#{showFlag},</if>
         </trim>
    </insert>

    <update id="updateInventory" parameterType="Inventory">
        update inventory
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeHouseid != null">storeHouseid = #{storeHouseid},</if>
            <if test="storeHouseName != null">storeHouseName = #{storeHouseName},</if>
            <if test="storeDate != null">storeDate = #{storeDate},</if>
            <if test="stockNumber != null">stockNumber = #{stockNumber},</if>
            <if test="supplier != null">supplier = #{supplier},</if>
            <if test="supplierId != null">supplierId = #{supplierId},</if>
            <if test="levelID != null">levelID = #{levelID},</if>
            <if test="levelName != null">levelName = #{levelName},</if>
            <if test="countingUnit != null">countingUnit = #{countingUnit},</if>
            <if test="height != null">height = #{height},</if>
            <if test="length != null">length = #{length},</if>
            <if test="width != null">width = #{width},</if>
            <if test="pieces != null">pieces = #{pieces},</if>
            <if test="piecesPerPack != null">piecesPerPack = #{piecesPerPack},</if>
            <if test="packs != null">packs = #{packs},</if>
            <if test="price != null">price = #{price},</if>
            <if test="isIncludeTaxFactory != null">isIncludeTaxFactory = #{isIncludeTaxFactory},</if>
            <if test="sundryCost != null">sundryCost = #{sundryCost},</if>
            <if test="paymentFactory != null">paymentFactory = #{paymentFactory},</if>
            <if test="paymentUnload != null">paymentUnload = #{paymentUnload},</if>
            <if test="isIncludeTaxSale != null">isIncludeTaxSale = #{isIncludeTaxSale},</if>
            <if test="payments != null">payments = #{payments},</if>
            <if test="landCarID != null">landCarID = #{landCarID},</if>
            <if test="landCarNo != null">landCarNo = #{landCarNo},</if>
            <if test="landDriverTel != null">landDriverTel = #{landDriverTel},</if>
            <if test="landDriverName != null">landDriverName = #{landDriverName},</if>
            <if test="seaCarID != null">seaCarID = #{seaCarID},</if>
            <if test="seaCarNo != null">seaCarNo = #{seaCarNo},</if>
            <if test="seaDriverTel != null">seaDriverTel = #{seaDriverTel},</if>
            <if test="seaDriverName != null">seaDriverName = #{seaDriverName},</if>
            <if test="erro != null">erro = #{erro},</if>
            <if test="tonnage != null">tonnage = #{tonnage},</if>
            <if test="landFreightPrice != null">landFreightPrice = #{landFreightPrice},</if>
            <if test="landFreight != null">landFreight = #{landFreight},</if>
            <if test="seaFreight != null">seaFreight = #{seaFreight},</if>
            <if test="freight != null">freight = #{freight},</if>
            <if test="otherCost != null">otherCost = #{otherCost},</if>
            <if test="profit != null">profit = #{profit},</if>
            <if test="profitNoTax != null">profitNoTax = #{profitNoTax},</if>
            <if test="actualPieces != null">actualPieces = #{actualPieces},</if>
            <if test="paymentsWithSundry != null">paymentsWithSundry = #{paymentsWithSundry},</if>
            <if test="additionalFees != null">additionalFees = #{additionalFees},</if>
            <if test="rebate != null">rebate = #{rebate},</if>
            <if test="customerCommission != null">customerCommission = #{customerCommission},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
            <if test="showFlag != null">showFlag = #{showFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteInventoryById" parameterType="Long">
        update inventory set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteInventoryByIds" parameterType="String">
        update inventory set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>