<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.InvoiceInMapper">
    
    <resultMap type="InvoiceIn" id="InvoiceInResult">
        <result property="id"    column="id"    />
        <result property="invoiceDate"    column="invoiceDate"    />
        <result property="invoiceObject"    column="invoiceObject"    />
        <result property="invoiceAmount"    column="invoiceAmount"    />
        <result property="companyType"    column="companyType"    />
        <result property="companyName"    column="companyName"    />
        <result property="companyID"    column="companyID"    />
        <result property="invoiceCompanyName"    column="invoiceCompanyName"    />
        <result property="ticketPoint"    column="ticketPoint"    />
        <result property="ticketPointAmount"    column="ticketPointAmount"    />
        <result property="isOrderTax"    column="isOrderTax"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>




    <sql id="selectInvoiceInVo">
        select
        i.id,
        i.invoiceDate,
        i.invoiceObject,
        i.invoiceAmount,
        i.companyType,
        i.companyName,
        i.companyID,
        i.invoiceCompanyName,
        i.ticketPoint,
        i.ticketPointAmount,
        i.isOrderTax,
        i.comments,
        i.addtime,
        i.userId,
        i.UserName,
        i.update_time,
        i.delFlag,
        CASE
        WHEN pa.checkState = '通过' THEN p.paymentState
        ELSE COALESCE(pa.checkState, '未申请')
        END as checkState
        from
        invoiceIn i
        left join
        paymentApply pa
        on
        pa.tableName = 'invoicein'
        and pa.tID = i.id
        and (pa.checkState = '审核中' or pa.checkState = '通过')
        left join
        payment p
        on
        p.applyId = pa.id
        and p.delFlag = 0
    </sql>

    <select id="selectInvoiceInList" parameterType="InvoiceIn" resultMap="InvoiceInResult">
        <include refid="selectInvoiceInVo"/>
        <where>
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''"> and i.invoiceDate between #{beginTime} and #{endTime}</if>
            <if test="invoiceObject != null  and invoiceObject != ''"> and i.invoiceObject = #{invoiceObject}</if>
            <if test="invoiceAmount != null "> and i.invoiceAmount = #{invoiceAmount}</if>
            <if test="companyType != null  and companyType != ''"> and i.companyType = #{companyType}</if>
            <if test="companyName != null  and companyName != ''"> and i.companyName like concat('%', #{companyName}, '%')</if>
            <if test="companyID != null "> and i.companyID = #{companyID}</if>
            <if test="invoiceCompanyName != null  and invoiceCompanyName != ''"> and i.invoiceCompanyName like concat('%', #{invoiceCompanyName}, '%')</if>
            <if test="ticketPoint != null "> and i.ticketPoint = #{ticketPoint}</if>
            <if test="ticketPointAmount != null "> and i.ticketPointAmount = #{ticketPointAmount}</if>
            <if test="isOrderTax != null "> and i.isOrderTax = #{isOrderTax}</if>
            <if test="comments != null  and comments != ''"> and i.comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and i.addtime = #{addtime}</if>
            <if test="userId != null "> and i.userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and i.UserName like concat('%', #{UserName}, '%')</if>
            and i.delFlag = 0
        </where>
    </select>

    <select id="selectInvoiceInById" parameterType="Long" resultMap="InvoiceInResult">
        <include refid="selectInvoiceInVo"/>
        where
        i.id = #{id}
        and i.delFlag = 0
    </select>

    <insert id="insertInvoiceIn" parameterType="InvoiceIn" useGeneratedKeys="true" keyProperty="id">
        insert into invoiceIn
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="invoiceDate != null">invoiceDate,</if>
            <if test="invoiceObject != null">invoiceObject,</if>
            <if test="invoiceAmount != null">invoiceAmount,</if>
            <if test="companyType != null">companyType,</if>
            <if test="companyName != null">companyName,</if>
            <if test="companyID != null">companyID,</if>
            <if test="invoiceCompanyName != null">invoiceCompanyName,</if>
            <if test="ticketPoint != null">ticketPoint,</if>
            <if test="ticketPointAmount != null">ticketPointAmount,</if>
            <if test="isOrderTax != null">isOrderTax,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="invoiceDate != null">#{invoiceDate},</if>
            <if test="invoiceObject != null">#{invoiceObject},</if>
            <if test="invoiceAmount != null">#{invoiceAmount},</if>
            <if test="companyType != null">#{companyType},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="companyID != null">#{companyID},</if>
            <if test="invoiceCompanyName != null">#{invoiceCompanyName},</if>
            <if test="ticketPoint != null">#{ticketPoint},</if>
            <if test="ticketPointAmount != null">#{ticketPointAmount},</if>
            <if test="isOrderTax != null">#{isOrderTax},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateInvoiceIn" parameterType="InvoiceIn">
        update invoiceIn
        <trim prefix="SET" suffixOverrides=",">
            <if test="invoiceDate != null">invoiceDate = #{invoiceDate},</if>
            <if test="invoiceObject != null">invoiceObject = #{invoiceObject},</if>
            <if test="invoiceAmount != null">invoiceAmount = #{invoiceAmount},</if>
            <if test="companyType != null">companyType = #{companyType},</if>
            <if test="companyName != null">companyName = #{companyName},</if>
            <if test="companyID != null">companyID = #{companyID},</if>
            <if test="invoiceCompanyName != null">invoiceCompanyName = #{invoiceCompanyName},</if>
            <if test="ticketPoint != null">ticketPoint = #{ticketPoint},</if>
            <if test="ticketPointAmount != null">ticketPointAmount = #{ticketPointAmount},</if>
            <if test="isOrderTax != null">isOrderTax = #{isOrderTax},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteInvoiceInById" parameterType="Long">
        update invoiceIn set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteInvoiceInByIds" parameterType="String">
        update invoiceIn set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>