<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.InvoiceOtherMapper">
    
    <resultMap type="InvoiceOther" id="InvoiceOtherResult">
        <result property="id"    column="id"    />
        <result property="ordersNo"    column="ordersNo"    />
        <result property="invoiceDate"    column="invoiceDate"    />
        <result property="invoiceAmount"    column="invoiceAmount"    />
        <result property="supplierTicketPoint"    column="supplierTicketPoint"    />
        <result property="supplierPointAmount"    column="supplierPointAmount"    />
        <result property="Supplier"    column="Supplier"    />
        <result property="SupplierID"    column="SupplierID"    />
        <result property="customer"    column="customer"    />
        <result property="CustomerID"    column="CustomerID"    />
        <result property="invoiceCompanyName"    column="invoiceCompanyName"    />
        <result property="customerTicketPoint"    column="customerTicketPoint"    />
        <result property="customerPointAmount"    column="customerPointAmount"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>


 

    <sql id="selectInvoiceOtherVo">
        select id, ordersNo, invoiceDate, invoiceAmount, supplierTicketPoint, supplierPointAmount, Supplier, SupplierID, customer, CustomerID, invoiceCompanyName, customerTicketPoint, customerPointAmount, comments, addtime, userId, UserName, update_time, delFlag from invoiceOther
    </sql>

    <select id="selectInvoiceOtherList" parameterType="InvoiceOther" resultMap="InvoiceOtherResult">
        <include refid="selectInvoiceOtherVo"/>
        <where>  
            <if test="ordersNo != null  and ordersNo != ''"> and ordersNo = #{ordersNo}</if>
            <if test="invoiceDate != null  and invoiceDate != ''"> and invoiceDate = #{invoiceDate}</if>
            <if test="invoiceAmount != null "> and invoiceAmount = #{invoiceAmount}</if>
            <if test="supplierTicketPoint != null "> and supplierTicketPoint = #{supplierTicketPoint}</if>
            <if test="supplierPointAmount != null "> and supplierPointAmount = #{supplierPointAmount}</if>
            <if test="Supplier != null  and Supplier != ''"> and Supplier = #{Supplier}</if>
            <if test="SupplierID != null "> and SupplierID = #{SupplierID}</if>
            <if test="customer != null  and customer != ''"> and customer = #{customer}</if>
            <if test="CustomerID != null "> and CustomerID = #{CustomerID}</if>
            <if test="invoiceCompanyName != null  and invoiceCompanyName != ''"> and invoiceCompanyName like concat('%', #{invoiceCompanyName}, '%')</if>
            <if test="customerTicketPoint != null "> and customerTicketPoint = #{customerTicketPoint}</if>
            <if test="customerPointAmount != null "> and customerPointAmount = #{customerPointAmount}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            and delFlag = 0
        </where>
    </select>
    
    <select id="selectInvoiceOtherById" parameterType="Long" resultMap="InvoiceOtherResult">
        <include refid="selectInvoiceOtherVo"/>
        where id = #{id}
        and delFlag = 0
    </select>

    <insert id="insertInvoiceOther" parameterType="InvoiceOther" useGeneratedKeys="true" keyProperty="id">
        insert into invoiceOther
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ordersNo != null">ordersNo,</if>
            <if test="invoiceDate != null">invoiceDate,</if>
            <if test="invoiceAmount != null">invoiceAmount,</if>
            <if test="supplierTicketPoint != null">supplierTicketPoint,</if>
            <if test="supplierPointAmount != null">supplierPointAmount,</if>
            <if test="Supplier != null">Supplier,</if>
            <if test="SupplierID != null">SupplierID,</if>
            <if test="customer != null">customer,</if>
            <if test="CustomerID != null">CustomerID,</if>
            <if test="invoiceCompanyName != null">invoiceCompanyName,</if>
            <if test="customerTicketPoint != null">customerTicketPoint,</if>
            <if test="customerPointAmount != null">customerPointAmount,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ordersNo != null">#{ordersNo},</if>
            <if test="invoiceDate != null">#{invoiceDate},</if>
            <if test="invoiceAmount != null">#{invoiceAmount},</if>
            <if test="supplierTicketPoint != null">#{supplierTicketPoint},</if>
            <if test="supplierPointAmount != null">#{supplierPointAmount},</if>
            <if test="Supplier != null">#{Supplier},</if>
            <if test="SupplierID != null">#{SupplierID},</if>
            <if test="customer != null">#{customer},</if>
            <if test="CustomerID != null">#{CustomerID},</if>
            <if test="invoiceCompanyName != null">#{invoiceCompanyName},</if>
            <if test="customerTicketPoint != null">#{customerTicketPoint},</if>
            <if test="customerPointAmount != null">#{customerPointAmount},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateInvoiceOther" parameterType="InvoiceOther">
        update invoiceOther
        <trim prefix="SET" suffixOverrides=",">
            <if test="ordersNo != null">ordersNo = #{ordersNo},</if>
            <if test="invoiceDate != null">invoiceDate = #{invoiceDate},</if>
            <if test="invoiceAmount != null">invoiceAmount = #{invoiceAmount},</if>
            <if test="supplierTicketPoint != null">supplierTicketPoint = #{supplierTicketPoint},</if>
            <if test="supplierPointAmount != null">supplierPointAmount = #{supplierPointAmount},</if>
            <if test="Supplier != null">Supplier = #{Supplier},</if>
            <if test="SupplierID != null">SupplierID = #{SupplierID},</if>
            <if test="customer != null">customer = #{customer},</if>
            <if test="CustomerID != null">CustomerID = #{CustomerID},</if>
            <if test="invoiceCompanyName != null">invoiceCompanyName = #{invoiceCompanyName},</if>
            <if test="customerTicketPoint != null">customerTicketPoint = #{customerTicketPoint},</if>
            <if test="customerPointAmount != null">customerPointAmount = #{customerPointAmount},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteInvoiceOtherById" parameterType="Long">
        update invoiceOther set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteInvoiceOtherByIds" parameterType="String">
        update invoiceOther set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>