<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LendmoneyMapper">
    
    <resultMap type="Lendmoney" id="LendmoneyResult">
        <result property="id"    column="id"    />
        <result property="futuresNO"    column="futuresNO"    />
        <result property="futuresMarginCompany"    column="futuresMarginCompany"    />
        <result property="target"    column="target"    />
        <result property="moneyAmount"    column="moneyAmount"    />
        <result property="targetAcountsName"    column="targetAcountsName"    />
        <result property="targetBankNo"    column="targetBankNo"    />
        <result property="targetBankName"    column="targetBankName"    />
        <result property="selfAcountsName"    column="selfAcountsName"    />
        <result property="selfBankNo"    column="selfBankNo"    />
        <result property="selfBankName"    column="selfBankName"    />
        <result property="futuresDate"    column="futuresDate"    />
        <result property="reason"    column="reason"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>

    <sql id="selectLendmoneyVo">
        select id, futuresNO, futuresMarginCompany, target, moneyAmount, targetAcountsName, targetBankNo, targetBankName, selfAcountsName, selfBankNo, selfBankName, futuresDate, reason, comments, addtime, userId, UserName, update_time, delFlag from lendmoney
    </sql>

    <select id="selectLendmoneyList" parameterType="Lendmoney" resultMap="LendmoneyResult">
        <include refid="selectLendmoneyVo"/>
        <where>  
            <if test="futuresNO != null  and futuresNO != ''"> and futuresNO = #{futuresNO}</if>
            <if test="futuresMarginCompany != null  and futuresMarginCompany != ''"> and futuresMarginCompany = #{futuresMarginCompany}</if>
            <if test="target != null  and target != ''"> and target = #{target}</if>
            <if test="moneyAmount != null "> and moneyAmount = #{moneyAmount}</if>
            <if test="targetAcountsName != null  and targetAcountsName != ''"> and targetAcountsName like concat('%', #{targetAcountsName}, '%')</if>
            <if test="targetBankNo != null  and targetBankNo != ''"> and targetBankNo = #{targetBankNo}</if>
            <if test="targetBankName != null  and targetBankName != ''"> and targetBankName like concat('%', #{targetBankName}, '%')</if>
            <if test="selfAcountsName != null  and selfAcountsName != ''"> and selfAcountsName like concat('%', #{selfAcountsName}, '%')</if>
            <if test="selfBankNo != null  and selfBankNo != ''"> and selfBankNo = #{selfBankNo}</if>
            <if test="selfBankName != null  and selfBankName != ''"> and selfBankName like concat('%', #{selfBankName}, '%')</if>
            <if test="futuresDate != null  and futuresDate != ''"> and futuresDate = #{futuresDate}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            <if test="delFlag != null "> and delFlag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectLendmoneyById" parameterType="Long" resultMap="LendmoneyResult">
        <include refid="selectLendmoneyVo"/>
        where id = #{id}
    </select>

    <insert id="insertLendmoney" parameterType="Lendmoney" useGeneratedKeys="true" keyProperty="id">
        insert into lendmoney
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="futuresNO != null">futuresNO,</if>
            <if test="futuresMarginCompany != null">futuresMarginCompany,</if>
            <if test="target != null">target,</if>
            <if test="moneyAmount != null">moneyAmount,</if>
            <if test="targetAcountsName != null">targetAcountsName,</if>
            <if test="targetBankNo != null">targetBankNo,</if>
            <if test="targetBankName != null">targetBankName,</if>
            <if test="selfAcountsName != null">selfAcountsName,</if>
            <if test="selfBankNo != null">selfBankNo,</if>
            <if test="selfBankName != null">selfBankName,</if>
            <if test="futuresDate != null">futuresDate,</if>
            <if test="reason != null">reason,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="futuresNO != null">#{futuresNO},</if>
            <if test="futuresMarginCompany != null">#{futuresMarginCompany},</if>
            <if test="target != null">#{target},</if>
            <if test="moneyAmount != null">#{moneyAmount},</if>
            <if test="targetAcountsName != null">#{targetAcountsName},</if>
            <if test="targetBankNo != null">#{targetBankNo},</if>
            <if test="targetBankName != null">#{targetBankName},</if>
            <if test="selfAcountsName != null">#{selfAcountsName},</if>
            <if test="selfBankNo != null">#{selfBankNo},</if>
            <if test="selfBankName != null">#{selfBankName},</if>
            <if test="futuresDate != null">#{futuresDate},</if>
            <if test="reason != null">#{reason},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateLendmoney" parameterType="Lendmoney">
        update lendmoney
        <trim prefix="SET" suffixOverrides=",">
            <if test="futuresNO != null">futuresNO = #{futuresNO},</if>
            <if test="futuresMarginCompany != null">futuresMarginCompany = #{futuresMarginCompany},</if>
            <if test="target != null">target = #{target},</if>
            <if test="moneyAmount != null">moneyAmount = #{moneyAmount},</if>
            <if test="targetAcountsName != null">targetAcountsName = #{targetAcountsName},</if>
            <if test="targetBankNo != null">targetBankNo = #{targetBankNo},</if>
            <if test="targetBankName != null">targetBankName = #{targetBankName},</if>
            <if test="selfAcountsName != null">selfAcountsName = #{selfAcountsName},</if>
            <if test="selfBankNo != null">selfBankNo = #{selfBankNo},</if>
            <if test="selfBankName != null">selfBankName = #{selfBankName},</if>
            <if test="futuresDate != null">futuresDate = #{futuresDate},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLendmoneyById" parameterType="Long">
        delete from lendmoney where id = #{id}
    </delete>

    <delete id="deleteLendmoneyByIds" parameterType="String">
        delete from lendmoney where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>