<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.LendMoneyMapper">
    
    <resultMap type="LendMoney" id="LendMoneyResult">
        <result property="id"    column="id"    />
        <result property="futuresNO"    column="futuresNO"    />
        <result property="futuresMarginCompany"    column="futuresMarginCompany"    />
        <result property="targetType"    column="targetType"    />
        <result property="target"    column="target"    />
        <result property="moneyAmount"    column="moneyAmount"    />
        <result property="targetAcountsName"    column="targetAcountsName"    />
        <result property="targetBankNo"    column="targetBankNo"    />
        <result property="targetBankName"    column="targetBankName"    />
        <result property="selfAcountsName"    column="selfAcountsName"    />
        <result property="selfBankNo"    column="selfBankNo"    />
        <result property="selfBankName"    column="selfBankName"    />
        <result property="futuresDate"    column="futuresDate"    />
        <result property="reason"    column="reason"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
        <result property="checkState"    column="checkState"    />
    </resultMap>

    <sql id="selectLendMoneyVo">
        select
        l.id,
        l.futuresNO,
        l.futuresMarginCompany,
        l.targetType,
        l.target,
        l.moneyAmount,
        l.targetAcountsName,
        l.targetBankNo,
        l.targetBankName,
        l.selfAcountsName,
        l.selfBankNo,
        l.selfBankName,
        l.futuresDate,
        l.reason,
        l.comments,
        l.addtime,
        l.userId,
        l.UserName,
        l.update_time,
        l.delFlag,
        CASE
        WHEN pa.checkState = '通过' THEN p.paymentState
        ELSE COALESCE(pa.checkState, '未申请')
        END as checkState
        from
        lendMoney l
        left join
        paymentapply pa
        on
        pa.tableName = 'lendMoney'
        and pa.tID = l.id
        and (pa.checkState = '审核中' or pa.checkState = '通过')
        left join
        payment p
        on
        p.applyId = pa.id
        and p.delFlag = 0
    </sql>

    <select id="selectLendMoneyList" parameterType="LendMoney" resultMap="LendMoneyResult">
        <include refid="selectLendMoneyVo"/>
        <where>
            <if test="futuresNO != null  and futuresNO != ''"> and l.futuresNO = #{futuresNO}</if>
            <if test="futuresMarginCompany != null  and futuresMarginCompany != ''"> and l.futuresMarginCompany = #{futuresMarginCompany}</if>
            <if test="targetType != null  and targetType != ''"> and l.targetType = #{targetType}</if>
            <if test="target != null  and target != ''"> and l.target = #{target}</if>
            <if test="moneyAmount != null "> and l.moneyAmount = #{moneyAmount}</if>
            <if test="targetAcountsName != null  and targetAcountsName != ''"> and l.targetAcountsName like concat('%', #{targetAcountsName}, '%')</if>
            <if test="targetBankNo != null  and targetBankNo != ''"> and l.targetBankNo = #{targetBankNo}</if>
            <if test="targetBankName != null  and targetBankName != ''"> and l.targetBankName like concat('%', #{targetBankName}, '%')</if>
            <if test="selfAcountsName != null  and selfAcountsName != ''"> and l.selfAcountsName like concat('%', #{selfAcountsName}, '%')</if>
            <if test="selfBankNo != null  and selfBankNo != ''"> and l.selfBankNo = #{selfBankNo}</if>
            <if test="selfBankName != null  and selfBankName != ''"> and l.selfBankName like concat('%', #{selfBankName}, '%')</if>
            <if test="futuresDate != null  and futuresDate != ''"> and l.futuresDate = #{futuresDate}</if>
            <if test="reason != null  and reason != ''"> and l.reason = #{reason}</if>
            <if test="comments != null  and comments != ''"> and l.comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and l.addtime = #{addtime}</if>
            <if test="userId != null "> and l.userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and l.UserName like concat('%', #{UserName}, '%')</if>
            and l.delFlag = 0
        </where>
    </select>

    <select id="selectLendMoneyById" parameterType="Long" resultMap="LendMoneyResult">
        <include refid="selectLendMoneyVo"/>
        where
        l.id = #{id}
        and l.delFlag = 0
    </select>


    <insert id="insertLendMoney" parameterType="LendMoney" useGeneratedKeys="true" keyProperty="id">
        insert into lendMoney
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="futuresNO != null">futuresNO,</if>
            <if test="futuresMarginCompany != null">futuresMarginCompany,</if>
            <if test="targetType != null">targetType,</if>
            <if test="target != null">target,</if>
            <if test="moneyAmount != null">moneyAmount,</if>
            <if test="targetAcountsName != null">targetAcountsName,</if>
            <if test="targetBankNo != null">targetBankNo,</if>
            <if test="targetBankName != null">targetBankName,</if>
            <if test="selfAcountsName != null">selfAcountsName,</if>
            <if test="selfBankNo != null">selfBankNo,</if>
            <if test="selfBankName != null">selfBankName,</if>
            <if test="futuresDate != null">futuresDate,</if>
            <if test="reason != null">reason,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="futuresNO != null">#{futuresNO},</if>
            <if test="futuresMarginCompany != null">#{futuresMarginCompany},</if>
            <if test="targetType != null">#{targetType},</if>
            <if test="target != null">#{target},</if>
            <if test="moneyAmount != null">#{moneyAmount},</if>
            <if test="targetAcountsName != null">#{targetAcountsName},</if>
            <if test="targetBankNo != null">#{targetBankNo},</if>
            <if test="targetBankName != null">#{targetBankName},</if>
            <if test="selfAcountsName != null">#{selfAcountsName},</if>
            <if test="selfBankNo != null">#{selfBankNo},</if>
            <if test="selfBankName != null">#{selfBankName},</if>
            <if test="futuresDate != null">#{futuresDate},</if>
            <if test="reason != null">#{reason},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateLendMoney" parameterType="LendMoney">
        update lendMoney
        <trim prefix="SET" suffixOverrides=",">
            <if test="futuresNO != null">futuresNO = #{futuresNO},</if>
            <if test="futuresMarginCompany != null">futuresMarginCompany = #{futuresMarginCompany},</if>
            <if test="targetType != null">targetType = #{targetType},</if>
            <if test="target != null">target = #{target},</if>
            <if test="moneyAmount != null">moneyAmount = #{moneyAmount},</if>
            <if test="targetAcountsName != null">targetAcountsName = #{targetAcountsName},</if>
            <if test="targetBankNo != null">targetBankNo = #{targetBankNo},</if>
            <if test="targetBankName != null">targetBankName = #{targetBankName},</if>
            <if test="selfAcountsName != null">selfAcountsName = #{selfAcountsName},</if>
            <if test="selfBankNo != null">selfBankNo = #{selfBankNo},</if>
            <if test="selfBankName != null">selfBankName = #{selfBankName},</if>
            <if test="futuresDate != null">futuresDate = #{futuresDate},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteLendMoneyById" parameterType="Long">
        update lendMoney set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteLendMoneyByIds" parameterType="String">
        update lendMoney set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>