<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.OffsettingMapper">
    
    <resultMap type="Offsetting" id="OffsettingResult">
        <result property="id"    column="id"    />
        <result property="OffsetNO"    column="OffsetNO"    />
        <result property="operateDate"    column="operateDate"    />
        <result property="operateType"    column="operateType"    />
        <result property="moneyAmount"    column="moneyAmount"    />
        <result property="companyName"    column="companyName"    />
        <result property="companyId"    column="companyId"    />
        <result property="companyType"    column="companyType"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>


 

    <sql id="selectOffsettingVo">
        select id, OffsetNO, operateDate, operateType, moneyAmount, companyName, companyId, companyType, comments, addtime, userId, UserName, update_time, delFlag from Offsetting
    </sql>

    <select id="selectOffsettingList" parameterType="Offsetting" resultMap="OffsettingResult">
        <include refid="selectOffsettingVo"/>
        <where>  
            <if test="OffsetNO != null  and OffsetNO != ''"> and OffsetNO = #{OffsetNO}</if>
            <if test="operateDate != null  and operateDate != ''"> and operateDate = #{operateDate}</if>
            <if test="operateType != null  and operateType != ''"> and operateType = #{operateType}</if>
            <if test="moneyAmount != null "> and moneyAmount = #{moneyAmount}</if>
            <if test="companyName != null  and companyName != ''"> and companyName like concat('%', #{companyName}, '%')</if>
            <if test="companyId != null "> and companyId = #{companyId}</if>
            <if test="companyType != null "> and companyType = #{companyType}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            and delFlag = 0
        </where>
       order by id desc
    </select>
    <select id="selectOffsettingById" parameterType="Long" resultMap="OffsettingResult">
        <include refid="selectOffsettingVo"/>
        where id = #{id}
        and delFlag = 0
    </select>

    <insert id="insertOffsetting" parameterType="Offsetting" useGeneratedKeys="true" keyProperty="id">
        insert into Offsetting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="OffsetNO != null">OffsetNO,</if>
            <if test="operateDate != null">operateDate,</if>
            <if test="operateType != null">operateType,</if>
            <if test="moneyAmount != null">moneyAmount,</if>
            <if test="companyName != null">companyName,</if>
            <if test="companyId != null">companyId,</if>
            <if test="companyType != null">companyType,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="OffsetNO != null">#{OffsetNO},</if>
            <if test="operateDate != null">#{operateDate},</if>
            <if test="operateType != null">#{operateType},</if>
            <if test="moneyAmount != null">#{moneyAmount},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="companyType != null">#{companyType},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateOffsetting" parameterType="Offsetting">
        update Offsetting
        <trim prefix="SET" suffixOverrides=",">
            <if test="OffsetNO != null">OffsetNO = #{OffsetNO},</if>
            <if test="operateDate != null">operateDate = #{operateDate},</if>
            <if test="operateType != null">operateType = #{operateType},</if>
            <if test="moneyAmount != null">moneyAmount = #{moneyAmount},</if>
            <if test="companyName != null">companyName = #{companyName},</if>
            <if test="companyId != null">companyId = #{companyId},</if>
            <if test="companyType != null">companyType = #{companyType},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteOffsettingById" parameterType="Long">
        update Offsetting set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteOffsettingByIds" parameterType="String">
        update Offsetting set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>