<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.OilCardConsumeMapper">
    
    <resultMap type="OilCardConsume" id="OilCardConsumeResult">
        <result property="id"    column="id"    />
        <result property="bTripId"    column="bTripId"    />
        <result property="oilCardNo"    column="oilCardNo"    />
        <result property="useDate"    column="useDate"    />
        <result property="carNo"    column="carNo"    />
        <result property="startCardSurplus"    column="startCardSurplus"    />
        <result property="refuelingNumber"    column="refuelingNumber"    />
        <result property="unitPrice"    column="unitPrice"    />
        <result property="refuelingMoney"    column="refuelingMoney"    />
        <result property="rechargeMoney"    column="rechargeMoney"    />
        <result property="endCardSurplus"    column="endCardSurplus"    />
        <result property="attachmentOiladd"    column="attachmentOiladd"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>



    <sql id="selectOilCardConsumeVo">
        select
            OCC.id,
            OCC.bTripId,
            OCC.oilCardNo,
            OCC.useDdate,
            OCC.carNo,
            OCC.refuelingNumber,
            OCC.unitPrice,
            OCC.refuelingMoney,
            OCC.rechargeMoney,
            OCC.endCardSurplus,
            OCC.attachmentOiladd,
            OCC.comments,
            OCC.addtime,
            OCC.userId,
            OCC.UserName,
            OCC.update_time,
            OCC.delFlag,
            CASE
                WHEN pa.checkState = '通过' THEN p.paymentState
                ELSE COALESCE(pa.checkState, '未申请')
                END as checkState
        from
            OilCardConsume OCC
                left join
            paymentApply pa
            on
                pa.tableName = 'lendmoney'
                    and pa.tID = l.id
                    and (pa.checkState = '审核中' or pa.checkState = '通过')
                left join
            payment p
            on
                p.applyId = pa.id
                    and p.delFlag = 0
    </sql>
    <select id="selectOilCardConsumeList" parameterType="OilCardConsume" resultMap="OilCardConsumeResult">
        <include refid="selectOilCardConsumeVo"/>
        <where>  
            <if test="bTripId != null  and bTripId != ''"> and bTripId = #{bTripId}</if>
            <if test="oilCardNo != null  and oilCardNo != ''"> and oilCardNo = #{oilCardNo}</if>
            <if test="useDate != null  and useDate != ''"> and useDate = #{useDate}</if>
            <if test="carNo != null  and carNo != ''"> and carNo = #{carNo}</if>
            <if test="startCardSurplus != null  and startCardSurplus != ''"> and startCardSurplus = #{startCardSurplus}</if>
            <if test="refuelingNumber != null  and refuelingNumber != ''"> and refuelingNumber = #{refuelingNumber}</if>
            <if test="unitPrice != null  and unitPrice != ''"> and unitPrice = #{unitPrice}</if>
            <if test="refuelingMoney != null  and refuelingMoney != ''"> and refuelingMoney = #{refuelingMoney}</if>
            <if test="rechargeMoney != null  and rechargeMoney != ''"> and rechargeMoney = #{rechargeMoney}</if>
            <if test="endCardSurplus != null  and endCardSurplus != ''"> and endCardSurplus = #{endCardSurplus}</if>
            <if test="attachmentOiladd != null  and attachmentOiladd != ''"> and attachmentOiladd = #{attachmentOiladd}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            and delFlag = 0
        </where>
    </select>
    
    <select id="selectOilCardConsumeById" parameterType="Long" resultMap="OilCardConsumeResult">
        <include refid="selectOilCardConsumeVo"/>
        where id = #{id}
        and delFlag = 0
    </select>

    <insert id="insertOilCardConsume" parameterType="OilCardConsume" useGeneratedKeys="true" keyProperty="id">
        insert into OilCardConsume
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bTripId != null">bTripId,</if>
            <if test="oilCardNo != null">oilCardNo,</if>
            <if test="useDate != null">useDate,</if>
            <if test="carNo != null">carNo,</if>
            <if test="startCardSurplus != null">startCardSurplus,</if>
            <if test="refuelingNumber != null">refuelingNumber,</if>
            <if test="unitPrice != null">unitPrice,</if>
            <if test="refuelingMoney != null">refuelingMoney,</if>
            <if test="rechargeMoney != null">rechargeMoney,</if>
            <if test="endCardSurplus != null">endCardSurplus,</if>
            <if test="attachmentOiladd != null">attachmentOiladd,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bTripId != null">#{bTripId},</if>
            <if test="oilCardNo != null">#{oilCardNo},</if>
            <if test="useDate != null">#{useDate},</if>
            <if test="carNo != null">#{carNo},</if>
            <if test="startCardSurplus != null">#{startCardSurplus},</if>
            <if test="refuelingNumber != null">#{refuelingNumber},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="refuelingMoney != null">#{refuelingMoney},</if>
            <if test="rechargeMoney != null">#{rechargeMoney},</if>
            <if test="endCardSurplus != null">#{endCardSurplus},</if>
            <if test="attachmentOiladd != null">#{attachmentOiladd},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateOilCardConsume" parameterType="OilCardConsume">
        update OilCardConsume
        <trim prefix="SET" suffixOverrides=",">
            <if test="bTripId != null">bTripId = #{bTripId},</if>
            <if test="oilCardNo != null">oilCardNo = #{oilCardNo},</if>
            <if test="useDate != null">useDate = #{useDate},</if>
            <if test="carNo != null">carNo = #{carNo},</if>
            <if test="startCardSurplus != null">startCardSurplus = #{startCardSurplus},</if>
            <if test="refuelingNumber != null">refuelingNumber = #{refuelingNumber},</if>
            <if test="unitPrice != null">unitPrice = #{unitPrice},</if>
            <if test="refuelingMoney != null">refuelingMoney = #{refuelingMoney},</if>
            <if test="rechargeMoney != null">rechargeMoney = #{rechargeMoney},</if>
            <if test="endCardSurplus != null">endCardSurplus = #{endCardSurplus},</if>
            <if test="attachmentOiladd != null">attachmentOiladd = #{attachmentOiladd},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteOilCardConsumeById" parameterType="Long">
        update OilCardConsume set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteOilCardConsumeByIds" parameterType="String">
        update OilCardConsume set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <!-- 查询油卡消费总金额 -->
    <select id="getrefuelingMoney" parameterType="String" resultType="Double">
        SELECT refuelingMoney
        FROM oilCardConsume
        WHERE oilCardNo = #{oilCardNo}
    </select>
    <select id="existsByTripId" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM oil_recharge
        WHERE bTripId = #{bTripId}
    </select>


</mapper>