<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.OrderDetailMapper">
    
    <resultMap type="OrderDetail" id="OrderDetailResult">
        <result property="id"    column="id"    />
        <result property="ordersNo"    column="ordersNo"    />
        <result property="orderDate"    column="orderDate"    />
        <result property="supplier"    column="supplier"    />
        <result property="supplierID"    column="supplierID"    />
        <result property="customer"    column="customer"    />
        <result property="customerID"    column="customerID"    />
        <result property="levelID"    column="levelID"    />
        <result property="levelName"    column="levelName"    />
        <result property="countingUnit"    column="countingUnit"    />
        <result property="height"    column="height"    />
        <result property="length"    column="length"    />
        <result property="width"    column="width"    />
        <result property="pieces"    column="pieces"    />
        <result property="piecesPerPack"    column="piecesPerPack"    />
        <result property="packs"    column="packs"    />
        <result property="price"    column="price"    />
        <result property="isIncludeTaxFactory"    column="isIncludeTaxFactory"    />
        <result property="sundryCost"    column="sundryCost"    />
        <result property="paymentFactory"    column="paymentFactory"    />
        <result property="paymentUnload"    column="paymentUnload"    />
        <result property="isIncludeTaxSale"    column="isIncludeTaxSale"    />
        <result property="payments"    column="payments"    />
        <result property="erro"    column="erro"    />
        <result property="tonnage"    column="tonnage"    />
        <result property="landFreightPrice"    column="landFreightPrice"    />
        <result property="landFreight"    column="landFreight"    />
        <result property="seaFreight"    column="seaFreight"    />
        <result property="freight"    column="freight"    />
        <result property="otherCost"    column="otherCost"    />
        <result property="profit"    column="profit"    />
        <result property="profitNoTax"    column="profitNoTax"    />
        <result property="actualPieces"    column="actualPieces"    />
        <result property="paymentsWithSundry"    column="paymentsWithSundry"    />
        <result property="additionalFees"    column="additionalFees"    />
        <result property="storeHouseID"    column="storeHouseID"    />
        <result property="storeHouseName"    column="storeHouseName"    />
        <result property="storeID"    column="storeID"    />
        <result property="logisticsProfit"    column="logisticsProfit"    />
        <result property="customerCommission"    column="customerCommission"    />
        <result property="isAdjusted"    column="isAdjusted"    />
        <result property="adjustDate"    column="adjustDate"    />
        <result property="cancelFlag"    column="cancelFlag"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>


 

    <sql id="selectOrderDetailVo">
        select id, ordersNo, orderDate, supplier, supplierID, customer, customerID, levelID, levelName, countingUnit, height, length, width, pieces, piecesPerPack, packs, price, isIncludeTaxFactory, sundryCost, paymentFactory, paymentUnload, isIncludeTaxSale, payments, erro, tonnage, landFreightPrice, landFreight, seaFreight, freight, otherCost, profit, profitNoTax, actualPieces, paymentsWithSundry, additionalFees, storeHouseID, storeHouseName, storeID, logisticsProfit, customerCommission, isAdjusted, adjustDate, cancelFlag, comments, addtime, userId, UserName, update_time from orderDetail
    </sql>

    <select id="selectOrderDetailList" parameterType="OrderDetail" resultMap="OrderDetailResult">
        <include refid="selectOrderDetailVo"/>
        <where>  
            <if test="ordersNo != null  and ordersNo != ''"> and ordersNo = #{ordersNo}</if>
            <if test="orderDate != null  and orderDate != ''"> and orderDate = #{orderDate}</if>
            <if test="supplier != null  and supplier != ''"> and supplier = #{supplier}</if>
            <if test="supplierID != null "> and supplierID = #{supplierID}</if>
            <if test="customer != null  and customer != ''"> and customer = #{customer}</if>
            <if test="customerID != null "> and customerID = #{customerID}</if>
            <if test="levelID != null "> and levelID = #{levelID}</if>
            <if test="levelName != null  and levelName != ''"> and levelName like concat('%', #{levelName}, '%')</if>
            <if test="countingUnit != null  and countingUnit != ''"> and countingUnit = #{countingUnit}</if>
            <if test="height != null "> and height = #{height}</if>
            <if test="length != null "> and length = #{length}</if>
            <if test="width != null "> and width = #{width}</if>
            <if test="pieces != null "> and pieces = #{pieces}</if>
            <if test="piecesPerPack != null "> and piecesPerPack = #{piecesPerPack}</if>
            <if test="packs != null "> and packs = #{packs}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="isIncludeTaxFactory != null "> and isIncludeTaxFactory = #{isIncludeTaxFactory}</if>
            <if test="sundryCost != null "> and sundryCost = #{sundryCost}</if>
            <if test="paymentFactory != null "> and paymentFactory = #{paymentFactory}</if>
            <if test="paymentUnload != null "> and paymentUnload = #{paymentUnload}</if>
            <if test="isIncludeTaxSale != null "> and isIncludeTaxSale = #{isIncludeTaxSale}</if>
            <if test="payments != null "> and payments = #{payments}</if>
            <if test="erro != null "> and erro = #{erro}</if>
            <if test="tonnage != null "> and tonnage = #{tonnage}</if>
            <if test="landFreightPrice != null "> and landFreightPrice = #{landFreightPrice}</if>
            <if test="landFreight != null "> and landFreight = #{landFreight}</if>
            <if test="seaFreight != null "> and seaFreight = #{seaFreight}</if>
            <if test="freight != null "> and freight = #{freight}</if>
            <if test="otherCost != null "> and otherCost = #{otherCost}</if>
            <if test="profit != null "> and profit = #{profit}</if>
            <if test="profitNoTax != null "> and profitNoTax = #{profitNoTax}</if>
            <if test="actualPieces != null "> and actualPieces = #{actualPieces}</if>
            <if test="paymentsWithSundry != null "> and paymentsWithSundry = #{paymentsWithSundry}</if>
            <if test="additionalFees != null "> and additionalFees = #{additionalFees}</if>
            <if test="storeHouseID != null "> and storeHouseID = #{storeHouseID}</if>
            <if test="storeHouseName != null  and storeHouseName != ''"> and storeHouseName like concat('%', #{storeHouseName}, '%')</if>
            <if test="storeID != null "> and storeID = #{storeID}</if>
            <if test="logisticsProfit != null "> and logisticsProfit = #{logisticsProfit}</if>
            <if test="customerCommission != null "> and customerCommission = #{customerCommission}</if>
            <if test="isAdjusted != null  and isAdjusted != ''"> and isAdjusted = #{isAdjusted}</if>
            <if test="adjustDate != null  and adjustDate != ''"> and adjustDate = #{adjustDate}</if>
            and cancelFlag = 0
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
        </where>
       order by id desc
    </select>
    <select id="selectOrderDetailById" parameterType="Long" resultMap="OrderDetailResult">
        <include refid="selectOrderDetailVo"/>
        where id = #{id}
        and cancelFlag = 0
    </select>

    <insert id="insertOrderDetail" parameterType="OrderDetail" useGeneratedKeys="true" keyProperty="id">
        insert into orderDetail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ordersNo != null">ordersNo,</if>
            <if test="orderDate != null">orderDate,</if>
            <if test="supplier != null">supplier,</if>
            <if test="supplierID != null">supplierID,</if>
            <if test="customer != null">customer,</if>
            <if test="customerID != null">customerID,</if>
            <if test="levelID != null">levelID,</if>
            <if test="levelName != null">levelName,</if>
            <if test="countingUnit != null">countingUnit,</if>
            <if test="height != null">height,</if>
            <if test="length != null">length,</if>
            <if test="width != null">width,</if>
            <if test="pieces != null">pieces,</if>
            <if test="piecesPerPack != null">piecesPerPack,</if>
            <if test="packs != null">packs,</if>
            <if test="price != null">price,</if>
            <if test="isIncludeTaxFactory != null">isIncludeTaxFactory,</if>
            <if test="sundryCost != null">sundryCost,</if>
            <if test="paymentFactory != null">paymentFactory,</if>
            <if test="paymentUnload != null">paymentUnload,</if>
            <if test="isIncludeTaxSale != null">isIncludeTaxSale,</if>
            <if test="payments != null">payments,</if>
            <if test="erro != null">erro,</if>
            <if test="tonnage != null">tonnage,</if>
            <if test="landFreightPrice != null">landFreightPrice,</if>
            <if test="landFreight != null">landFreight,</if>
            <if test="seaFreight != null">seaFreight,</if>
            <if test="freight != null">freight,</if>
            <if test="otherCost != null">otherCost,</if>
            <if test="profit != null">profit,</if>
            <if test="profitNoTax != null">profitNoTax,</if>
            <if test="actualPieces != null">actualPieces,</if>
            <if test="paymentsWithSundry != null">paymentsWithSundry,</if>
            <if test="additionalFees != null">additionalFees,</if>
            <if test="storeHouseID != null">storeHouseID,</if>
            <if test="storeHouseName != null">storeHouseName,</if>
            <if test="storeID != null">storeID,</if>
            <if test="logisticsProfit != null">logisticsProfit,</if>
            <if test="customerCommission != null">customerCommission,</if>
            <if test="isAdjusted != null">isAdjusted,</if>
            <if test="adjustDate != null">adjustDate,</if>
            <if test="cancelFlag != null">cancelFlag,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ordersNo != null">#{ordersNo},</if>
            <if test="orderDate != null">#{orderDate},</if>
            <if test="supplier != null">#{supplier},</if>
            <if test="supplierID != null">#{supplierID},</if>
            <if test="customer != null">#{customer},</if>
            <if test="customerID != null">#{customerID},</if>
            <if test="levelID != null">#{levelID},</if>
            <if test="levelName != null">#{levelName},</if>
            <if test="countingUnit != null">#{countingUnit},</if>
            <if test="height != null">#{height},</if>
            <if test="length != null">#{length},</if>
            <if test="width != null">#{width},</if>
            <if test="pieces != null">#{pieces},</if>
            <if test="piecesPerPack != null">#{piecesPerPack},</if>
            <if test="packs != null">#{packs},</if>
            <if test="price != null">#{price},</if>
            <if test="isIncludeTaxFactory != null">#{isIncludeTaxFactory},</if>
            <if test="sundryCost != null">#{sundryCost},</if>
            <if test="paymentFactory != null">#{paymentFactory},</if>
            <if test="paymentUnload != null">#{paymentUnload},</if>
            <if test="isIncludeTaxSale != null">#{isIncludeTaxSale},</if>
            <if test="payments != null">#{payments},</if>
            <if test="erro != null">#{erro},</if>
            <if test="tonnage != null">#{tonnage},</if>
            <if test="landFreightPrice != null">#{landFreightPrice},</if>
            <if test="landFreight != null">#{landFreight},</if>
            <if test="seaFreight != null">#{seaFreight},</if>
            <if test="freight != null">#{freight},</if>
            <if test="otherCost != null">#{otherCost},</if>
            <if test="profit != null">#{profit},</if>
            <if test="profitNoTax != null">#{profitNoTax},</if>
            <if test="actualPieces != null">#{actualPieces},</if>
            <if test="paymentsWithSundry != null">#{paymentsWithSundry},</if>
            <if test="additionalFees != null">#{additionalFees},</if>
            <if test="storeHouseID != null">#{storeHouseID},</if>
            <if test="storeHouseName != null">#{storeHouseName},</if>
            <if test="storeID != null">#{storeID},</if>
            <if test="logisticsProfit != null">#{logisticsProfit},</if>
            <if test="customerCommission != null">#{customerCommission},</if>
            <if test="isAdjusted != null">#{isAdjusted},</if>
            <if test="adjustDate != null">#{adjustDate},</if>
            <if test="cancelFlag != null">#{cancelFlag},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateOrderDetail" parameterType="OrderDetail">
        update orderDetail
        <trim prefix="SET" suffixOverrides=",">
            <if test="ordersNo != null">ordersNo = #{ordersNo},</if>
            <if test="orderDate != null">orderDate = #{orderDate},</if>
            <if test="supplier != null">supplier = #{supplier},</if>
            <if test="supplierID != null">supplierID = #{supplierID},</if>
            <if test="customer != null">customer = #{customer},</if>
            <if test="customerID != null">customerID = #{customerID},</if>
            <if test="levelID != null">levelID = #{levelID},</if>
            <if test="levelName != null">levelName = #{levelName},</if>
            <if test="countingUnit != null">countingUnit = #{countingUnit},</if>
            <if test="height != null">height = #{height},</if>
            <if test="length != null">length = #{length},</if>
            <if test="width != null">width = #{width},</if>
            <if test="pieces != null">pieces = #{pieces},</if>
            <if test="piecesPerPack != null">piecesPerPack = #{piecesPerPack},</if>
            <if test="packs != null">packs = #{packs},</if>
            <if test="price != null">price = #{price},</if>
            <if test="isIncludeTaxFactory != null">isIncludeTaxFactory = #{isIncludeTaxFactory},</if>
            <if test="sundryCost != null">sundryCost = #{sundryCost},</if>
            <if test="paymentFactory != null">paymentFactory = #{paymentFactory},</if>
            <if test="paymentUnload != null">paymentUnload = #{paymentUnload},</if>
            <if test="isIncludeTaxSale != null">isIncludeTaxSale = #{isIncludeTaxSale},</if>
            <if test="payments != null">payments = #{payments},</if>
            <if test="erro != null">erro = #{erro},</if>
            <if test="tonnage != null">tonnage = #{tonnage},</if>
            <if test="landFreightPrice != null">landFreightPrice = #{landFreightPrice},</if>
            <if test="landFreight != null">landFreight = #{landFreight},</if>
            <if test="seaFreight != null">seaFreight = #{seaFreight},</if>
            <if test="freight != null">freight = #{freight},</if>
            <if test="otherCost != null">otherCost = #{otherCost},</if>
            <if test="profit != null">profit = #{profit},</if>
            <if test="profitNoTax != null">profitNoTax = #{profitNoTax},</if>
            <if test="actualPieces != null">actualPieces = #{actualPieces},</if>
            <if test="paymentsWithSundry != null">paymentsWithSundry = #{paymentsWithSundry},</if>
            <if test="additionalFees != null">additionalFees = #{additionalFees},</if>
            <if test="storeHouseID != null">storeHouseID = #{storeHouseID},</if>
            <if test="storeHouseName != null">storeHouseName = #{storeHouseName},</if>
            <if test="storeID != null">storeID = #{storeID},</if>
            <if test="logisticsProfit != null">logisticsProfit = #{logisticsProfit},</if>
            <if test="customerCommission != null">customerCommission = #{customerCommission},</if>
            <if test="isAdjusted != null">isAdjusted = #{isAdjusted},</if>
            <if test="adjustDate != null">adjustDate = #{adjustDate},</if>
            <if test="cancelFlag != null">cancelFlag = #{cancelFlag},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteOrderDetailById" parameterType="Long">
        update orderDetail set cancelFlag = 1 where id = #{id}
    </update>
    <update id="deleteOrderDetailByIds" parameterType="String">
        update orderDetail set cancelFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <insert id="backupOrderDetail" parameterType="String">
        INSERT INTO orderDetail_back(orderId, ordersNo, orderDate, supplier, supplierID, customer, customerID, levelID, levelName, countingUnit, height, length, width, pieces, piecesPerPack, packs, price, isIncludeTaxFactory, sundryCost, paymentFactory, paymentUnload, isIncludeTaxSale, payments, erro, tonnage, landFreightPrice, landFreight, seaFreight, freight, otherCost, profit, profitNoTax, actualPieces, paymentsWithSundry, additionalFees, storeHouseID, storeHouseName, storeID, logisticsProfit, customerCommission, isAdjusted, adjustDate,
                                     cancelFlag, comments, addtime, userId, UserName, update_time)
        SELECT id AS orderId,
               ordersNo,
               orderDate,
               supplier,
               supplierID,
               customer,
               customerID,
               levelID,
               levelName,
               countingUnit,
               height,
               length,
               width,
               pieces,
               piecesPerPack,
               packs,
               price,
               isIncludeTaxFactory,
               sundryCost,
               paymentFactory,
               paymentUnload,
               isIncludeTaxSale,
               payments,
               erro,
               tonnage,
               landFreightPrice,
               landFreight,
               seaFreight,
               freight,
               otherCost,
               profit,
               profitNoTax,
               actualPieces,
               paymentsWithSundry,
               additionalFees,
               storeHouseID,
               storeHouseName,
               storeID,
               logisticsProfit,
               customerCommission,
               isAdjusted,
               adjustDate,
               cancelFlag,
               comments,
               addtime,
               userId,
               UserName,
               update_time
        FROM orderDetail
        WHERE ordersNo = #{orderNo}
    </insert>
</mapper>