<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OrderfreightMapper">
    
    <resultMap type="Orderfreight" id="OrderfreightResult">
        <result property="id"    column="id"    />
        <result property="ordersNo"    column="ordersNo"    />
        <result property="freightState"    column="freightState"    />
        <result property="moneyAmount"    column="moneyAmount"    />
        <result property="selfAcountsName"    column="selfAcountsName"    />
        <result property="selfBankNo"    column="selfBankNo"    />
        <result property="selfBankName"    column="selfBankName"    />
        <result property="otherAcountsName"    column="otherAcountsName"    />
        <result property="otherBankNo"    column="otherBankNo"    />
        <result property="otherBankName"    column="otherBankName"    />
        <result property="content"    column="content"    />
        <result property="paymentState"    column="paymentState"    />
        <result property="driverName"    column="driverName"    />
        <result property="driverId"    column="driverId"    />
        <result property="CarNo"    column="CarNo"    />
        <result property="fleet"    column="fleet"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="applyUserId"    column="applyUserId"    />
        <result property="applyUserName"    column="applyUserName"    />
        <result property="applyDate"    column="applyDate"    />
        <result property="isedit"    column="isedit"    />
        <result property="payUserId"    column="payUserId"    />
        <result property="payUserName"    column="payUserName"    />
        <result property="payDate"    column="payDate"    />
        <result property="cancelFlag"    column="cancelFlag"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>

    <sql id="selectOrderfreightVo">
        select id, ordersNo, freightState, moneyAmount, selfAcountsName, selfBankNo, selfBankName, otherAcountsName, otherBankNo, otherBankName, content, paymentState, driverName, driverId, CarNo, fleet, comments, addtime, applyUserId, applyUserName, applyDate, isedit, payUserId, payUserName, payDate, cancelFlag, userId, UserName, delFlag from orderfreight
    </sql>

    <select id="selectOrderfreightList" parameterType="Orderfreight" resultMap="OrderfreightResult">
        <include refid="selectOrderfreightVo"/>
        <where>  
            <if test="ordersNo != null  and ordersNo != ''"> and ordersNo = #{ordersNo}</if>
            <if test="freightState != null  and freightState != ''"> and freightState = #{freightState}</if>
            <if test="moneyAmount != null  and moneyAmount != ''"> and moneyAmount = #{moneyAmount}</if>
            <if test="selfAcountsName != null  and selfAcountsName != ''"> and selfAcountsName like concat('%', #{selfAcountsName}, '%')</if>
            <if test="selfBankNo != null  and selfBankNo != ''"> and selfBankNo = #{selfBankNo}</if>
            <if test="selfBankName != null  and selfBankName != ''"> and selfBankName like concat('%', #{selfBankName}, '%')</if>
            <if test="otherAcountsName != null  and otherAcountsName != ''"> and otherAcountsName like concat('%', #{otherAcountsName}, '%')</if>
            <if test="otherBankNo != null  and otherBankNo != ''"> and otherBankNo = #{otherBankNo}</if>
            <if test="otherBankName != null  and otherBankName != ''"> and otherBankName like concat('%', #{otherBankName}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="paymentState != null  and paymentState != ''"> and paymentState = #{paymentState}</if>
            <if test="driverName != null  and driverName != ''"> and driverName like concat('%', #{driverName}, '%')</if>
            <if test="driverId != null "> and driverId = #{driverId}</if>
            <if test="CarNo != null  and CarNo != ''"> and CarNo = #{CarNo}</if>
            <if test="fleet != null  and fleet != ''"> and fleet = #{fleet}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="applyUserId != null "> and applyUserId = #{applyUserId}</if>
            <if test="applyUserName != null  and applyUserName != ''"> and applyUserName like concat('%', #{applyUserName}, '%')</if>
            <if test="applyDate != null  and applyDate != ''"> and applyDate = #{applyDate}</if>
            <if test="isedit != null "> and isedit = #{isedit}</if>
            <if test="payUserId != null "> and payUserId = #{payUserId}</if>
            <if test="payUserName != null  and payUserName != ''"> and payUserName like concat('%', #{payUserName}, '%')</if>
            <if test="payDate != null  and payDate != ''"> and payDate = #{payDate}</if>
            <if test="cancelFlag != null "> and cancelFlag = #{cancelFlag}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            <if test="delFlag != null "> and delFlag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectOrderfreightById" parameterType="Long" resultMap="OrderfreightResult">
        <include refid="selectOrderfreightVo"/>
        where id = #{id}
    </select>

    <insert id="insertOrderfreight" parameterType="Orderfreight" useGeneratedKeys="true" keyProperty="id">
        insert into orderfreight
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ordersNo != null">ordersNo,</if>
            <if test="freightState != null">freightState,</if>
            <if test="moneyAmount != null">moneyAmount,</if>
            <if test="selfAcountsName != null">selfAcountsName,</if>
            <if test="selfBankNo != null">selfBankNo,</if>
            <if test="selfBankName != null">selfBankName,</if>
            <if test="otherAcountsName != null">otherAcountsName,</if>
            <if test="otherBankNo != null">otherBankNo,</if>
            <if test="otherBankName != null">otherBankName,</if>
            <if test="content != null">content,</if>
            <if test="paymentState != null">paymentState,</if>
            <if test="driverName != null">driverName,</if>
            <if test="driverId != null">driverId,</if>
            <if test="CarNo != null">CarNo,</if>
            <if test="fleet != null">fleet,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="applyUserId != null">applyUserId,</if>
            <if test="applyUserName != null">applyUserName,</if>
            <if test="applyDate != null">applyDate,</if>
            <if test="isedit != null">isedit,</if>
            <if test="payUserId != null">payUserId,</if>
            <if test="payUserName != null">payUserName,</if>
            <if test="payDate != null">payDate,</if>
            <if test="cancelFlag != null">cancelFlag,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ordersNo != null">#{ordersNo},</if>
            <if test="freightState != null">#{freightState},</if>
            <if test="moneyAmount != null">#{moneyAmount},</if>
            <if test="selfAcountsName != null">#{selfAcountsName},</if>
            <if test="selfBankNo != null">#{selfBankNo},</if>
            <if test="selfBankName != null">#{selfBankName},</if>
            <if test="otherAcountsName != null">#{otherAcountsName},</if>
            <if test="otherBankNo != null">#{otherBankNo},</if>
            <if test="otherBankName != null">#{otherBankName},</if>
            <if test="content != null">#{content},</if>
            <if test="paymentState != null">#{paymentState},</if>
            <if test="driverName != null">#{driverName},</if>
            <if test="driverId != null">#{driverId},</if>
            <if test="CarNo != null">#{CarNo},</if>
            <if test="fleet != null">#{fleet},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="applyUserId != null">#{applyUserId},</if>
            <if test="applyUserName != null">#{applyUserName},</if>
            <if test="applyDate != null">#{applyDate},</if>
            <if test="isedit != null">#{isedit},</if>
            <if test="payUserId != null">#{payUserId},</if>
            <if test="payUserName != null">#{payUserName},</if>
            <if test="payDate != null">#{payDate},</if>
            <if test="cancelFlag != null">#{cancelFlag},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateOrderfreight" parameterType="Orderfreight">
        update orderfreight
        <trim prefix="SET" suffixOverrides=",">
            <if test="ordersNo != null">ordersNo = #{ordersNo},</if>
            <if test="freightState != null">freightState = #{freightState},</if>
            <if test="moneyAmount != null">moneyAmount = #{moneyAmount},</if>
            <if test="selfAcountsName != null">selfAcountsName = #{selfAcountsName},</if>
            <if test="selfBankNo != null">selfBankNo = #{selfBankNo},</if>
            <if test="selfBankName != null">selfBankName = #{selfBankName},</if>
            <if test="otherAcountsName != null">otherAcountsName = #{otherAcountsName},</if>
            <if test="otherBankNo != null">otherBankNo = #{otherBankNo},</if>
            <if test="otherBankName != null">otherBankName = #{otherBankName},</if>
            <if test="content != null">content = #{content},</if>
            <if test="paymentState != null">paymentState = #{paymentState},</if>
            <if test="driverName != null">driverName = #{driverName},</if>
            <if test="driverId != null">driverId = #{driverId},</if>
            <if test="CarNo != null">CarNo = #{CarNo},</if>
            <if test="fleet != null">fleet = #{fleet},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="applyUserId != null">applyUserId = #{applyUserId},</if>
            <if test="applyUserName != null">applyUserName = #{applyUserName},</if>
            <if test="applyDate != null">applyDate = #{applyDate},</if>
            <if test="isedit != null">isedit = #{isedit},</if>
            <if test="payUserId != null">payUserId = #{payUserId},</if>
            <if test="payUserName != null">payUserName = #{payUserName},</if>
            <if test="payDate != null">payDate = #{payDate},</if>
            <if test="cancelFlag != null">cancelFlag = #{cancelFlag},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderfreightById" parameterType="Long">
        delete from orderfreight where id = #{id}
    </delete>

    <delete id="deleteOrderfreightByIds" parameterType="String">
        delete from orderfreight where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>