<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.OrderFreightMapper">
    
    <resultMap type="OrderFreight" id="OrderFreightResult">
        <result property="id"    column="id"    />
        <result property="ordersNo"    column="ordersNo"    />
        <result property="freightType"    column="freightType"    />
        <result property="moneyAmount"    column="moneyAmount"    />
        <result property="selfAcountsName"    column="selfAcountsName"    />
        <result property="selfBankNo"    column="selfBankNo"    />
        <result property="selfBankName"    column="selfBankName"    />
        <result property="otherAcountsName"    column="otherAcountsName"    />
        <result property="otherBankNo"    column="otherBankNo"    />
        <result property="otherBankName"    column="otherBankName"    />
        <result property="content"    column="content"    />
        <result property="paymentState"    column="paymentState"    />
        <result property="driverName"    column="driverName"    />
        <result property="driverId"    column="driverId"    />
        <result property="carNo"    column="CarNo"    />
        <result property="fleet"    column="fleet"    />
        <result property="applyUserId"    column="applyUserId"    />
        <result property="applyUserName"    column="applyUserName"    />
        <result property="applyDate"    column="applyDate"    />
        <result property="isedit"    column="isedit"    />
        <result property="payUserId"    column="payUserId"    />
        <result property="payUserName"    column="payUserName"    />
        <result property="payDate"    column="payDate"    />
        <result property="cancelFlag"    column="cancelFlag"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="delFlag"    column="delFlag"    />
        <result property="checkState"    column="checkState"    />
    </resultMap>


 

    <sql id="selectOrderFreightVo">
        select id, ordersNo, freightType, moneyAmount, selfAcountsName, selfBankNo, selfBankName, otherAcountsName, otherBankNo, otherBankName, content, paymentState, driverName, driverId, CarNo, fleet, applyUserId, applyUserName, applyDate, isedit, payUserId, payUserName, payDate, cancelFlag, comments, addtime, userId, UserName, delFlag from orderFreight
    </sql>

    <select id="selectOrderFreightList" parameterType="OrderFreight" resultMap="OrderFreightResult">
        <include refid="selectOrderFreightVo"/>
        <where>  
            <if test="ordersNo != null  and ordersNo != ''"> and ordersNo = #{ordersNo}</if>
            <if test="freightType != null  and freightType != ''"> and freightType = #{freightType}</if>
            <if test="moneyAmount != null  and moneyAmount != ''"> and moneyAmount = #{moneyAmount}</if>
            <if test="selfAcountsName != null  and selfAcountsName != ''"> and selfAcountsName like concat('%', #{selfAcountsName}, '%')</if>
            <if test="selfBankNo != null  and selfBankNo != ''"> and selfBankNo = #{selfBankNo}</if>
            <if test="selfBankName != null  and selfBankName != ''"> and selfBankName like concat('%', #{selfBankName}, '%')</if>
            <if test="otherAcountsName != null  and otherAcountsName != ''"> and otherAcountsName like concat('%', #{otherAcountsName}, '%')</if>
            <if test="otherBankNo != null  and otherBankNo != ''"> and otherBankNo = #{otherBankNo}</if>
            <if test="otherBankName != null  and otherBankName != ''"> and otherBankName like concat('%', #{otherBankName}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="paymentState != null  and paymentState != ''"> and paymentState = #{paymentState}</if>
            <if test="driverName != null  and driverName != ''"> and driverName like concat('%', #{driverName}, '%')</if>
            <if test="driverId != null "> and driverId = #{driverId}</if>
            <if test="carNo != null  and carNo != ''"> and CarNo = #{carNo}</if>
            <if test="fleet != null  and fleet != ''"> and fleet = #{fleet}</if>
            <if test="applyUserId != null "> and applyUserId = #{applyUserId}</if>
            <if test="applyUserName != null  and applyUserName != ''"> and applyUserName like concat('%', #{applyUserName}, '%')</if>
            <if test="applyDate != null  and applyDate != ''"> and applyDate = #{applyDate}</if>
            <if test="isedit != null "> and isedit = #{isedit}</if>
            <if test="payUserId != null "> and payUserId = #{payUserId}</if>
            <if test="payUserName != null  and payUserName != ''"> and payUserName like concat('%', #{payUserName}, '%')</if>
            <if test="payDate != null  and payDate != ''"> and payDate = #{payDate}</if>
            and cancelFlag = 0
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            <if test="delFlag != null "> and delFlag = #{delFlag}</if>
        </where>
       order by id desc
    </select>
    <select id="selectOrderFreightById" parameterType="Long" resultMap="OrderFreightResult">
        <include refid="selectOrderFreightVo"/>
        where id = #{id}
        and cancelFlag = 0
    </select>

    <insert id="insertOrderFreight" parameterType="OrderFreight" useGeneratedKeys="true" keyProperty="id">
        insert into orderFreight
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ordersNo != null">ordersNo,</if>
            <if test="freightType != null">freightType,</if>
            <if test="moneyAmount != null">moneyAmount,</if>
            <if test="selfAcountsName != null">selfAcountsName,</if>
            <if test="selfBankNo != null">selfBankNo,</if>
            <if test="selfBankName != null">selfBankName,</if>
            <if test="otherAcountsName != null">otherAcountsName,</if>
            <if test="otherBankNo != null">otherBankNo,</if>
            <if test="otherBankName != null">otherBankName,</if>
            <if test="content != null">content,</if>
            <if test="paymentState != null">paymentState,</if>
            <if test="driverName != null">driverName,</if>
            <if test="driverId != null">driverId,</if>
            <if test="carNo != null">CarNo,</if>
            <if test="fleet != null">fleet,</if>
            <if test="applyUserId != null">applyUserId,</if>
            <if test="applyUserName != null">applyUserName,</if>
            <if test="applyDate != null">applyDate,</if>
            <if test="isedit != null">isedit,</if>
            <if test="payUserId != null">payUserId,</if>
            <if test="payUserName != null">payUserName,</if>
            <if test="payDate != null">payDate,</if>
            <if test="cancelFlag != null">cancelFlag,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ordersNo != null">#{ordersNo},</if>
            <if test="freightType != null">#{freightType},</if>
            <if test="moneyAmount != null">#{moneyAmount},</if>
            <if test="selfAcountsName != null">#{selfAcountsName},</if>
            <if test="selfBankNo != null">#{selfBankNo},</if>
            <if test="selfBankName != null">#{selfBankName},</if>
            <if test="otherAcountsName != null">#{otherAcountsName},</if>
            <if test="otherBankNo != null">#{otherBankNo},</if>
            <if test="otherBankName != null">#{otherBankName},</if>
            <if test="content != null">#{content},</if>
            <if test="paymentState != null">#{paymentState},</if>
            <if test="driverName != null">#{driverName},</if>
            <if test="driverId != null">#{driverId},</if>
            <if test="carNo != null">#{carNo},</if>
            <if test="fleet != null">#{fleet},</if>
            <if test="applyUserId != null">#{applyUserId},</if>
            <if test="applyUserName != null">#{applyUserName},</if>
            <if test="applyDate != null">#{applyDate},</if>
            <if test="isedit != null">#{isedit},</if>
            <if test="payUserId != null">#{payUserId},</if>
            <if test="payUserName != null">#{payUserName},</if>
            <if test="payDate != null">#{payDate},</if>
            <if test="cancelFlag != null">#{cancelFlag},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateOrderFreight" parameterType="OrderFreight">
        update orderFreight
        <trim prefix="SET" suffixOverrides=",">
            <if test="ordersNo != null">ordersNo = #{ordersNo},</if>
            <if test="freightType != null">freightType = #{freightType},</if>
            <if test="moneyAmount != null">moneyAmount = #{moneyAmount},</if>
            <if test="selfAcountsName != null">selfAcountsName = #{selfAcountsName},</if>
            <if test="selfBankNo != null">selfBankNo = #{selfBankNo},</if>
            <if test="selfBankName != null">selfBankName = #{selfBankName},</if>
            <if test="otherAcountsName != null">otherAcountsName = #{otherAcountsName},</if>
            <if test="otherBankNo != null">otherBankNo = #{otherBankNo},</if>
            <if test="otherBankName != null">otherBankName = #{otherBankName},</if>
            <if test="content != null">content = #{content},</if>
            <if test="paymentState != null">paymentState = #{paymentState},</if>
            <if test="driverName != null">driverName = #{driverName},</if>
            <if test="driverId != null">driverId = #{driverId},</if>
            <if test="carNo != null">CarNo = #{carNo},</if>
            <if test="fleet != null">fleet = #{fleet},</if>
            <if test="applyUserId != null">applyUserId = #{applyUserId},</if>
            <if test="applyUserName != null">applyUserName = #{applyUserName},</if>
            <if test="applyDate != null">applyDate = #{applyDate},</if>
            <if test="isedit != null">isedit = #{isedit},</if>
            <if test="payUserId != null">payUserId = #{payUserId},</if>
            <if test="payUserName != null">payUserName = #{payUserName},</if>
            <if test="payDate != null">payDate = #{payDate},</if>
            <if test="cancelFlag != null">cancelFlag = #{cancelFlag},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteOrderFreightById" parameterType="Long">
        update orderFreight set cancelFlag = 1 where id = #{id}
    </update>
    <update id="deleteOrderFreightByIds" parameterType="String">
        update orderFreight set cancelFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>