<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.PaymentMapper">
    
    <resultMap type="Payment" id="PaymentResult">
        <result property="id"    column="id"    />
        <result property="applyid" column="applyId" />
        <result property="payNO"    column="payNO"    />
        <result property="fundsDate"    column="fundsDate"    />
        <result property="payType"    column="payType"    />
        <result property="tableName"    column="tableName"    />
        <result property="tID"    column="tID"    />
        <result property="moneyAmount"    column="moneyAmount"    />
        <result property="selfAcountsName"    column="selfAcountsName"    />
        <result property="selfBankNo"    column="selfBankNo"    />
        <result property="selfBankName"    column="selfBankName"    />
        <result property="selfBankID"    column="selfBankID"    />
        <result property="otherAcountsName"    column="otherAcountsName"    />
        <result property="otherBankNo"    column="otherBankNo"    />
        <result property="otherBankName"    column="otherBankName"    />
        <result property="paymentState"    column="paymentState"    />
        <result property="companyName"    column="companyName"    />
        <result property="companyId"    column="companyId"    />
        <result property="companyType"    column="companyType"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>


 

    <sql id="selectPaymentVo">
        select id,applyId, payNO, fundsDate, payType, tableName, tID, moneyAmount, selfAcountsName, selfBankNo, selfBankName, selfBankID, otherAcountsName, otherBankNo, otherBankName, paymentState, companyName, companyId, companyType, comments, addtime, userId, UserName, update_time, delFlag from payment
    </sql>

    <select id="selectPaymentList" parameterType="Payment" resultMap="PaymentResult">
        <include refid="selectPaymentVo"/>
        <where>  
            <if test="payNO != null  and payNO != ''"> and payNO = #{payNO}</if>
            <if test="applyid != null "> and applyId = #{applyid}</if>
            <if test="fundsDate != null  and fundsDate != ''"> and fundsDate = #{fundsDate}</if>
            <if test="payType != null  and payType != ''"> and payType = #{payType}</if>
            <if test="tableName != null  and tableName != ''"> and tableName like concat('%', #{tableName}, '%')</if>
            <if test="tID != null  and tID != ''"> and tID = #{tID}</if>
            <if test="moneyAmount != null "> and moneyAmount = #{moneyAmount}</if>
            <if test="selfAcountsName != null  and selfAcountsName != ''"> and selfAcountsName like concat('%', #{selfAcountsName}, '%')</if>
            <if test="selfBankNo != null  and selfBankNo != ''"> and selfBankNo = #{selfBankNo}</if>
            <if test="selfBankName != null  and selfBankName != ''"> and selfBankName like concat('%', #{selfBankName}, '%')</if>
            <if test="selfBankID != null  and selfBankID != ''"> and selfBankID = #{selfBankID}</if>
            <if test="otherAcountsName != null  and otherAcountsName != ''"> and otherAcountsName like concat('%', #{otherAcountsName}, '%')</if>
            <if test="otherBankNo != null  and otherBankNo != ''"> and otherBankNo = #{otherBankNo}</if>
            <if test="otherBankName != null  and otherBankName != ''"> and otherBankName like concat('%', #{otherBankName}, '%')</if>
            <if test="paymentState != null  and paymentState != ''"> and paymentState = #{paymentState}</if>
            <if test="companyName != null  and companyName != ''"> and companyName like concat('%', #{companyName}, '%')</if>
            <if test="companyId != null "> and companyId = #{companyId}</if>
            <if test="companyType != null  and comments != '' "> and companyType = #{companyType}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            and delFlag = 0
        </where>
       order by id desc
    </select>
    <select id="selectPaymentById" parameterType="Long" resultMap="PaymentResult">
        <include refid="selectPaymentVo"/>
        where id = #{id}
        and delFlag = 0
    </select>

    <insert id="insertPayment" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="payNO != null">payNO,</if>
            <if test="applyid != null">applyId,</if>
            <if test="fundsDate != null">fundsDate,</if>
            <if test="payType != null">payType,</if>
            <if test="tableName != null">tableName,</if>
            <if test="tID != null">tID,</if>
            <if test="moneyAmount != null">moneyAmount,</if>
            <if test="selfAcountsName != null">selfAcountsName,</if>
            <if test="selfBankNo != null">selfBankNo,</if>
            <if test="selfBankName != null">selfBankName,</if>
            <if test="selfBankID != null">selfBankID,</if>
            <if test="otherAcountsName != null">otherAcountsName,</if>
            <if test="otherBankNo != null">otherBankNo,</if>
            <if test="otherBankName != null">otherBankName,</if>
            <if test="paymentState != null">paymentState,</if>
            <if test="companyName != null">companyName,</if>
            <if test="companyId != null">companyId,</if>
            <if test="companyType != null">companyType,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="payNO != null">#{payNO},</if>
            <if test="applyid != null">#{applyid},</if>
            <if test="fundsDate != null">#{fundsDate},</if>
            <if test="payType != null">#{payType},</if>
            <if test="tableName != null">#{tableName},</if>
            <if test="tID != null">#{tID},</if>
            <if test="moneyAmount != null">#{moneyAmount},</if>
            <if test="selfAcountsName != null">#{selfAcountsName},</if>
            <if test="selfBankNo != null">#{selfBankNo},</if>
            <if test="selfBankName != null">#{selfBankName},</if>
            <if test="selfBankID != null">#{selfBankID},</if>
            <if test="otherAcountsName != null">#{otherAcountsName},</if>
            <if test="otherBankNo != null">#{otherBankNo},</if>
            <if test="otherBankName != null">#{otherBankName},</if>
            <if test="paymentState != null">#{paymentState},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="companyType != null">#{companyType},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updatePayment" parameterType="Payment">
        update payment
        <trim prefix="SET" suffixOverrides=",">
            <if test="fundsDate != null">fundsDate = #{fundsDate},</if>
            <if test="payType != null">payType = #{payType},</if>
            <if test="moneyAmount != null">moneyAmount = #{moneyAmount},</if>
            <if test="selfAcountsName != null">selfAcountsName = #{selfAcountsName},</if>
            <if test="selfBankNo != null">selfBankNo = #{selfBankNo},</if>
            <if test="selfBankName != null">selfBankName = #{selfBankName},</if>
            <if test="selfBankID != null">selfBankID = #{selfBankID},</if>
            <if test="otherAcountsName != null">otherAcountsName = #{otherAcountsName},</if>
            <if test="otherBankNo != null">otherBankNo = #{otherBankNo},</if>
            <if test="otherBankName != null">otherBankName = #{otherBankName},</if>
            <if test="paymentState != null">paymentState = #{paymentState},</if>
            <if test="companyName != null">companyName = #{companyName},</if>
            <if test="companyId != null">companyId = #{companyId},</if>
            <if test="companyType != null">companyType = #{companyType},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deletePaymentById" parameterType="Long">
        update payment set delFlag = 1 where id = #{id}
    </update>
    <update id="deletePaymentByIds" parameterType="String">
        update payment set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach> AND paymentState = '已支付'
    </update>


    <insert id="insertPaymentByApply" parameterType="Long">
        INSERT INTO payment (
        applyId, payNO, fundsDate, payType, tableName, tID, moneyAmount,
        selfAcountsName, selfBankNo, selfBankName, selfBankID, otherAcountsName,
        otherBankNo, otherBankName, paymentState, companyName, companyId, companyType,
        comments, addtime, userId, UserName, update_time, delFlag
        )
        SELECT
        pa.id AS applyId,
        UUID() AS payNO,  -- 生成唯一的付款编号
        pa.fundsDate,
        pa.payType,
        pa.tableName,
        pa.tID,
        pa.moneyAmount,
        NULL AS selfAcountsName, -- 根据需要填充
        NULL AS selfBankNo,      -- 根据需要填充
        NULL AS selfBankName,    -- 根据需要填充
        NULL AS selfBankID,      -- 根据需要填充
        pa.otherAcountsName,
        pa.otherBankNo,
        pa.otherBankName,
        '申请中' AS paymentState, -- 默认设置为申请中
        pa.companyName,
        pa.companyId,
        pa.companyType,
        pa.comments,
        pa.addtime,
        pa.userId,
        pa.UserName,
        NOW() AS update_time,
        0 AS delFlag
        FROM
        paymentApply pa
        WHERE
        pa.id = #{applyId}
    </insert>

</mapper>