<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ProductlevelMapper">
    
    <resultMap type="Productlevel" id="ProductlevelResult">
        <result property="id"    column="id"    />
        <result property="levelNo"    column="levelNo"    />
        <result property="levelName"    column="levelName"    />
        <result property="categoryNo"    column="categoryNo"    />
        <result property="categoryName"    column="categoryName"    />
        <result property="height"    column="height"    />
        <result property="length"    column="length"    />
        <result property="width"    column="width"    />
        <result property="tonnage"    column="tonnage"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>

    <sql id="selectProductlevelVo">
        select id, levelNo, levelName, categoryNo, categoryName, height, length, width, tonnage, addtime, userId, UserName, update_time, delFlag from productlevel
    </sql>

    <select id="selectProductlevelList" parameterType="Productlevel" resultMap="ProductlevelResult">
        <include refid="selectProductlevelVo"/>
        <where>  
            <if test="levelNo != null  and levelNo != ''"> and levelNo = #{levelNo}</if>
            <if test="levelName != null  and levelName != ''"> and levelName like concat('%', #{levelName}, '%')</if>
            <if test="categoryNo != null "> and categoryNo = #{categoryNo}</if>
            <if test="categoryName != null  and categoryName != ''"> and categoryName like concat('%', #{categoryName}, '%')</if>
            <if test="height != null "> and height = #{height}</if>
            <if test="length != null "> and length = #{length}</if>
            <if test="width != null "> and width = #{width}</if>
            <if test="tonnage != null "> and tonnage = #{tonnage}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            <if test="delFlag != null "> and delFlag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectProductlevelById" parameterType="Long" resultMap="ProductlevelResult">
        <include refid="selectProductlevelVo"/>
        where id = #{id}
    </select>

    <insert id="insertProductlevel" parameterType="Productlevel" useGeneratedKeys="true" keyProperty="id">
        insert into productlevel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="levelNo != null">levelNo,</if>
            <if test="levelName != null">levelName,</if>
            <if test="categoryNo != null">categoryNo,</if>
            <if test="categoryName != null">categoryName,</if>
            <if test="height != null">height,</if>
            <if test="length != null">length,</if>
            <if test="width != null">width,</if>
            <if test="tonnage != null">tonnage,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="levelNo != null">#{levelNo},</if>
            <if test="levelName != null">#{levelName},</if>
            <if test="categoryNo != null">#{categoryNo},</if>
            <if test="categoryName != null">#{categoryName},</if>
            <if test="height != null">#{height},</if>
            <if test="length != null">#{length},</if>
            <if test="width != null">#{width},</if>
            <if test="tonnage != null">#{tonnage},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateProductlevel" parameterType="Productlevel">
        update productlevel
        <trim prefix="SET" suffixOverrides=",">
            <if test="levelNo != null">levelNo = #{levelNo},</if>
            <if test="levelName != null">levelName = #{levelName},</if>
            <if test="categoryNo != null">categoryNo = #{categoryNo},</if>
            <if test="categoryName != null">categoryName = #{categoryName},</if>
            <if test="height != null">height = #{height},</if>
            <if test="length != null">length = #{length},</if>
            <if test="width != null">width = #{width},</if>
            <if test="tonnage != null">tonnage = #{tonnage},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductlevelById" parameterType="Long">
        delete from productlevel where id = #{id}
    </delete>

    <delete id="deleteProductlevelByIds" parameterType="String">
        delete from productlevel where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>