<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.RebateMapper">

    <resultMap type="Rebate" id="RebateResult">
        <result property="id" column="id" />
        <result property="orderDetailID" column="orderDetailID" />
        <result property="rebateDate" column="rebateDate" />
        <result property="rebate" column="rebate" />
        <result property="rebateType" column="rebateType" />
        <result property="inAcountsName" column="inAcountsName" />
        <result property="inBankNo" column="inBankNo" />
        <result property="supplier" column="supplier" />
        <result property="supplierID" column="supplierID" />
        <result property="outAcountsName" column="outAcountsName" />
        <result property="outBankNo" column="outBankNo" />
        <result property="rebateReason" column="rebateReason" />
        <result property="comments" column="comments" />
        <result property="addtime" column="addtime" />
        <result property="userId" column="userId" />
        <result property="UserName" column="UserName" />
        <result property="updateTime" column="update_time" />
        <result property="delFlag" column="delFlag" />
        <collection property="orderDetails" ofType="OrderDetail">
            <id property="id" column="o_id" />
            <result property="ordersNo" column="ordersNo" />
            <result property="orderDate" column="orderDate" />
            <result property="supplier" column="o_supplier" />
            <result property="supplierID" column="o_supplierID" />
            <result property="customer" column="customer" />
            <result property="customerID" column="customerID" />
            <result property="levelID" column="levelID" />
            <result property="levelName" column="levelName" />
            <result property="countingUnit" column="countingUnit" />
            <result property="height" column="height" />
            <result property="length" column="length" />
            <result property="width" column="width" />
            <result property="pieces" column="pieces" />
            <result property="piecesPerPack" column="piecesPerPack" />
            <result property="packs" column="packs" />
            <result property="price" column="price" />
            <result property="isIncludeTaxFactory" column="isIncludeTaxFactory" />
            <result property="sundryCost" column="sundryCost" />
            <result property="paymentFactory" column="paymentFactory" />
            <result property="paymentUnload" column="paymentUnload" />
            <result property="isIncludeTaxSale" column="isIncludeTaxSale" />
            <result property="payments" column="payments" />
            <result property="erro" column="erro" />
            <result property="tonnage" column="tonnage" />
            <result property="landFreightPrice" column="landFreightPrice" />
            <result property="landFreight" column="landFreight" />
            <result property="seaFreight" column="seaFreight" />
            <result property="freight" column="freight" />
            <result property="otherCost" column="otherCost" />
            <result property="profit" column="profit" />
            <result property="profitNoTax" column="profitNoTax" />
            <result property="actualPieces" column="actualPieces" />
            <result property="paymentsWithSundry" column="paymentsWithSundry" />
            <result property="additionalFees" column="additionalFees" />
            <result property="storeHouseID" column="storeHouseID" />
            <result property="storeHouseName" column="storeHouseName" />
            <result property="storeID" column="storeID" />
            <result property="logisticsProfit" column="logisticsProfit" />
            <result property="customerCommission" column="customerCommission" />
            <result property="isAdjusted" column="isAdjusted" />
            <result property="adjustDate" column="adjustDate" />
            <result property="cancelFlag" column="cancelFlag" />
            <result property="comments" column="o_comments" />
            <result property="addtime" column="o_addtime" />
            <result property="userId" column="o_userId" />
            <result property="UserName" column="o_UserName" />
        </collection>
    </resultMap>


    <sql id="selectRebateVo">
        select r.id,
               r.orderDetailID,
               r.rebateDate,
               r.rebate,
               r.rebateType,
               r.inAcountsName,
               r.inBankNo,
               r.supplier,
               r.supplierID,
               r.outAcountsName,
               r.outBankNo,
               r.rebateReason,
               r.comments,
               r.addtime,
               r.userId,
               r.UserName,
               r.update_time,
               r.delFlag,
               o.id as o_id,
               o.ordersNo,
               o.orderDate,
               o.supplier as o_supplier,
               o.supplierID as o_supplierID,
               o.customer,
               o.customerID,
               o.levelID,
               o.levelName,
               o.countingUnit,
               o.height,
               o.length,
               o.width,
               o.pieces,
               o.piecesPerPack,
               o.packs,
               o.price,
               o.isIncludeTaxFactory,
               o.sundryCost,
               o.paymentFactory,
               o.paymentUnload,
               o.isIncludeTaxSale,
               o.payments,
               o.erro,
               o.tonnage,
               o.landFreightPrice,
               o.landFreight,
               o.seaFreight,
               o.freight,
               o.otherCost,
               o.profit,
               o.profitNoTax,
               o.actualPieces,
               o.paymentsWithSundry,
               o.additionalFees,
               o.storeHouseID,
               o.storeHouseName,
               o.storeID,
               o.logisticsProfit,
               o.customerCommission,
               o.isAdjusted,
               o.adjustDate,
               o.cancelFlag,
               o.comments as o_comments,
               o.addtime as o_addtime,
               o.userId as o_userId,
               o.UserName as o_UserName
        from Rebate r
                 left join orderDetail o
                           on 1=1
<!--        这里假定一个恒成立,后续的select再进行筛选-->
    </sql>


    <select id="selectRebateList" parameterType="Rebate" resultMap="RebateResult">
        <include refid="selectRebateVo"/>
        <where> FIND_IN_SET(o.id, r.orderDetailID) > 0
            <if test="rebate != null "> and rebate = #{rebate}</if>
            <if test="rebateStartTime != null and rebateStartTime != ''"> and rebateDate &gt;= #{rebateStartTime}</if>
            <if test="rebateEndTime != null and rebateEndTime != ''"> and rebateDate &lt;= #{rebateEndTime}</if>
            <if test="orderStartTime != null and orderStartTime != ''"> and orderDate &gt;= #{orderStartTime}</if>
            <if test="orderEndTime != null and orderEndTime != ''"> and orderDate &lt;= #{orderEndTime}</if>
            <if test="rebateType != null  and rebateType != ''"> and rebateType = #{rebateType}</if>
            <if test="inAcountsName != null  and inAcountsName != ''"> and inAcountsName like concat('%', #{inAcountsName}, '%')</if>
            <if test="inBankNo != null  and inBankNo != ''"> and inBankNo = #{inBankNo}</if>
            <if test="supplierID != null "> and supplierID = #{supplierID}</if>
            <if test="supplier != null and supplier != ''">and supplier like concat('%','#{supplier},'%')</if>
            <if test="outAcountsName != null  and outAcountsName != ''"> and outAcountsName like concat('%', #{outAcountsName}, '%')</if>
            <if test="outBankNo != null  and outBankNo != ''"> and outBankNo = #{outBankNo}</if>
            <if test="rebateReason != null  and rebateReason != ''"> and rebateReason = #{rebateReason}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            and delFlag = 0
        </where>
       order by r.id desc
    </select>
    <select id="selectRebateById" parameterType="Long" resultMap="RebateResult">
        <include refid="selectRebateVo"/>
        where r.id = #{id} and
        FIND_IN_SET(o.id, r.orderDetailID) > 0
        and delFlag = 0
    </select>

    <insert id="insertRebate" parameterType="Rebate" useGeneratedKeys="true" keyProperty="id">
        insert into Rebate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderDetailID != null">orderDetailID,</if>
            <if test="rebateDate != null">rebateDate,</if>
            <if test="rebate != null">rebate,</if>
            <if test="rebateType != null">rebateType,</if>
            <if test="inAcountsName != null">inAcountsName,</if>
            <if test="inBankNo != null">inBankNo,</if>
            <if test="supplier != null">supplier,</if>
            <if test="supplierID != null">supplierID,</if>
            <if test="outAcountsName != null">outAcountsName,</if>
            <if test="outBankNo != null">outBankNo,</if>
            <if test="rebateReason != null">rebateReason,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderDetailID != null">#{orderDetailID},</if>
            <if test="rebateDate != null">#{rebateDate},</if>
            <if test="rebate != null">#{rebate},</if>
            <if test="rebateType != null">#{rebateType},</if>
            <if test="inAcountsName != null">#{inAcountsName},</if>
            <if test="inBankNo != null">#{inBankNo},</if>
            <if test="supplier != null">#{supplier},</if>
            <if test="supplierID != null">#{supplierID},</if>
            <if test="outAcountsName != null">#{outAcountsName},</if>
            <if test="outBankNo != null">#{outBankNo},</if>
            <if test="rebateReason != null">#{rebateReason},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateRebate" parameterType="Rebate">
        update Rebate
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderDetailID != null">orderDetailID = #{orderDetailID},</if>
            <if test="rebateDate != null">rebateDate = #{rebateDate},</if>
            <if test="rebate != null">rebate = #{rebate},</if>
            <if test="rebateType != null">rebateType = #{rebateType},</if>
            <if test="inAcountsName != null">inAcountsName = #{inAcountsName},</if>
            <if test="inBankNo != null">inBankNo = #{inBankNo},</if>
            <if test="supplier != null">supplier = #{supplier},</if>
            <if test="supplierID != null">supplierID = #{supplierID},</if>
            <if test="outAcountsName != null">outAcountsName = #{outAcountsName},</if>
            <if test="outBankNo != null">outBankNo = #{outBankNo},</if>
            <if test="rebateReason != null">rebateReason = #{rebateReason},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteRebateById" parameterType="Long">
        update Rebate set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteRebateByIds" parameterType="String">
        update Rebate set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>