<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.ReceiveMoneyMapper">
    
    <resultMap type="ReceiveMoney" id="ReceiveMoneyResult">
        <result property="id"    column="id"    />
        <result property="receiveNO"    column="receiveNO"    />
        <result property="fundsDate"    column="fundsDate"    />
        <result property="receiveType"    column="receiveType"    />
        <result property="tableName"    column="tableName"    />
        <result property="tID"    column="tID"    />
        <result property="moneyAmount"    column="moneyAmount"    />
        <result property="selfAcountsName"    column="selfAcountsName"    />
        <result property="selfBankNo"    column="selfBankNo"    />
        <result property="selfBankName"    column="selfBankName"    />
        <result property="selfBankID"    column="selfBankID"    />
        <result property="otherAcountsName"    column="otherAcountsName"    />
        <result property="otherBankNo"    column="otherBankNo"    />
        <result property="otherBankName"    column="otherBankName"    />
        <result property="companyName"    column="companyName"    />
        <result property="companyId"    column="companyId"    />
        <result property="companyType"    column="companyType"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>


 

    <sql id="selectReceiveMoneyVo">
        select id, receiveNO, fundsDate, receiveType, tableName, tID, moneyAmount, selfAcountsName, selfBankNo, selfBankName, selfBankID, otherAcountsName, otherBankNo, otherBankName, companyName, companyId, companyType, comments, addtime, userId, UserName, update_time, delFlag from receiveMoney
    </sql>

    <select id="selectReceiveMoneyList" parameterType="ReceiveMoney" resultMap="ReceiveMoneyResult">
        <include refid="selectReceiveMoneyVo"/>
        <where>  
            <if test="receiveNO != null  and receiveNO != ''"> and receiveNO = #{receiveNO}</if>
            <if test="startTime != null and startTime != ''">
                and fundsDate &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and fundsDate &lt;= #{endTime}
            </if>
            <if test="receiveType != null  and receiveType != ''"> and receiveType = #{receiveType}</if>
            <if test="tableName != null  and tableName != ''"> and tableName like concat('%', #{tableName}, '%')</if>
            <if test="tID != null  and tID != ''"> and tID = #{tID}</if>
            <if test="moneyAmount != null "> and moneyAmount = #{moneyAmount}</if>
            <if test="selfAcountsName != null  and selfAcountsName != ''"> and selfAcountsName like concat('%', #{selfAcountsName}, '%')</if>
            <if test="selfBankNo != null  and selfBankNo != ''"> and selfBankNo = #{selfBankNo}</if>
            <if test="selfBankName != null  and selfBankName != ''"> and selfBankName like concat('%', #{selfBankName}, '%')</if>
            <if test="selfBankID != null  and selfBankID != ''"> and selfBankID = #{selfBankID}</if>
            <if test="otherAcountsName != null  and otherAcountsName != ''"> and otherAcountsName like concat('%', #{otherAcountsName}, '%')</if>
            <if test="otherBankNo != null  and otherBankNo != ''"> and otherBankNo = #{otherBankNo}</if>
            <if test="otherBankName != null  and otherBankName != ''"> and otherBankName like concat('%', #{otherBankName}, '%')</if>
            <if test="companyName != null  and companyName != ''"> and companyName like concat('%', #{companyName}, '%')</if>
            <if test="companyId != null "> and companyId = #{companyId}</if>
            <if test="companyType != null "> and companyType = #{companyType}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            and delFlag = 0
        </where>
    </select>
    
    <select id="selectReceiveMoneyById" parameterType="Long" resultMap="ReceiveMoneyResult">
        <include refid="selectReceiveMoneyVo"/>
        where id = #{id}
        and delFlag = 0
    </select>

    <insert id="insertReceiveMoney" parameterType="ReceiveMoney" useGeneratedKeys="true" keyProperty="id">
        insert into receiveMoney
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="receiveNO != null">receiveNO,</if>
            <if test="fundsDate != null">fundsDate,</if>
            <if test="receiveType != null">receiveType,</if>
            <if test="tableName != null">tableName,</if>
            <if test="tID != null">tID,</if>
            <if test="moneyAmount != null">moneyAmount,</if>
            <if test="selfAcountsName != null">selfAcountsName,</if>
            <if test="selfBankNo != null">selfBankNo,</if>
            <if test="selfBankName != null">selfBankName,</if>
            <if test="selfBankID != null">selfBankID,</if>
            <if test="otherAcountsName != null">otherAcountsName,</if>
            <if test="otherBankNo != null">otherBankNo,</if>
            <if test="otherBankName != null">otherBankName,</if>
            <if test="companyName != null">companyName,</if>
            <if test="companyId != null">companyId,</if>
            <if test="companyType != null">companyType,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="receiveNO != null">#{receiveNO},</if>
            <if test="fundsDate != null">#{fundsDate},</if>
            <if test="receiveType != null">#{receiveType},</if>
            <if test="tableName != null">#{tableName},</if>
            <if test="tID != null">#{tID},</if>
            <if test="moneyAmount != null">#{moneyAmount},</if>
            <if test="selfAcountsName != null">#{selfAcountsName},</if>
            <if test="selfBankNo != null">#{selfBankNo},</if>
            <if test="selfBankName != null">#{selfBankName},</if>
            <if test="selfBankID != null">#{selfBankID},</if>
            <if test="otherAcountsName != null">#{otherAcountsName},</if>
            <if test="otherBankNo != null">#{otherBankNo},</if>
            <if test="otherBankName != null">#{otherBankName},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="companyType != null">#{companyType},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateReceiveMoney" parameterType="ReceiveMoney">
        update receiveMoney
        <trim prefix="SET" suffixOverrides=",">
            <if test="receiveNO != null">receiveNO = #{receiveNO},</if>
            <if test="fundsDate != null">fundsDate = #{fundsDate},</if>
            <if test="receiveType != null">receiveType = #{receiveType},</if>
            <if test="tableName != null">tableName = #{tableName},</if>
            <if test="tID != null">tID = #{tID},</if>
            <if test="moneyAmount != null">moneyAmount = #{moneyAmount},</if>
            <if test="selfAcountsName != null">selfAcountsName = #{selfAcountsName},</if>
            <if test="selfBankNo != null">selfBankNo = #{selfBankNo},</if>
            <if test="selfBankName != null">selfBankName = #{selfBankName},</if>
            <if test="selfBankID != null">selfBankID = #{selfBankID},</if>
            <if test="otherAcountsName != null">otherAcountsName = #{otherAcountsName},</if>
            <if test="otherBankNo != null">otherBankNo = #{otherBankNo},</if>
            <if test="otherBankName != null">otherBankName = #{otherBankName},</if>
            <if test="companyName != null">companyName = #{companyName},</if>
            <if test="companyId != null">companyId = #{companyId},</if>
            <if test="companyType != null">companyType = #{companyType},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteReceiveMoneyById" parameterType="Long">
        update receiveMoney set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteReceiveMoneyByIds" parameterType="String">
        update receiveMoney set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>