<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.RecoverMoneyMapper">
    
    <resultMap type="RecoverMoney" id="RecoverMoneyResult">
        <result property="id"    column="id"    />
        <result property="futuresNO"    column="futuresNO"    />
        <result property="recoverNO"    column="recoverNO"    />
        <result property="moneyAmount"    column="moneyAmount"    />
        <result property="recoverDate"    column="recoverDate"    />
        <result property="acountsName"    column="acountsName"    />
        <result property="bankNo"    column="bankNo"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>


 

    <sql id="selectRecoverMoneyVo">
        select id, futuresNO, recoverNO, moneyAmount, recoverDate, acountsName, bankNo, comments, addtime, userId, UserName, update_time, delFlag from recoverMoney
    </sql>

    <select id="selectRecoverMoneyList" parameterType="RecoverMoney" resultMap="RecoverMoneyResult">
        <include refid="selectRecoverMoneyVo"/>
        <where>  
            <if test="futuresNO != null  and futuresNO != ''"> and futuresNO = #{futuresNO}</if>
            <if test="recoverNO != null  and recoverNO != ''"> and recoverNO = #{recoverNO}</if>
            <if test="moneyAmount != null "> and moneyAmount = #{moneyAmount}</if>
            <if test="acountsName != null  and acountsName != ''"> and acountsName like concat('%', #{acountsName}, '%')</if>
            <if test="startTime != null and startTime != ''">
                and recoverDate &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and recoverDate &lt;= #{endTime}
            </if>
            <if test="bankNo != null  and bankNo != ''"> and bankNo = #{bankNo}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            and delFlag = 0
        </where>
    </select>
    
    <select id="selectRecoverMoneyById" parameterType="Long" resultMap="RecoverMoneyResult">
        <include refid="selectRecoverMoneyVo"/>
        where id = #{id}
        and delFlag = 0
    </select>

    <insert id="insertRecoverMoney" parameterType="RecoverMoney" useGeneratedKeys="true" keyProperty="id">
        insert into recoverMoney
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="futuresNO != null">futuresNO,</if>
            <if test="recoverNO != null">recoverNO,</if>
            <if test="moneyAmount != null">moneyAmount,</if>
            <if test="recoverDate != null">recoverDate,</if>
            <if test="acountsName != null">acountsName,</if>
            <if test="bankNo != null">bankNo,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="futuresNO != null">#{futuresNO},</if>
            <if test="recoverNO != null">#{recoverNO},</if>
            <if test="moneyAmount != null">#{moneyAmount},</if>
            <if test="recoverDate != null">#{recoverDate},</if>
            <if test="acountsName != null">#{acountsName},</if>
            <if test="bankNo != null">#{bankNo},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateRecoverMoney" parameterType="RecoverMoney">
        update recoverMoney
        <trim prefix="SET" suffixOverrides=",">
            <if test="futuresNO != null">futuresNO = #{futuresNO},</if>
            <if test="recoverNO != null">recoverNO = #{recoverNO},</if>
            <if test="moneyAmount != null">moneyAmount = #{moneyAmount},</if>
            <if test="recoverDate != null">recoverDate = #{recoverDate},</if>
            <if test="acountsName != null">acountsName = #{acountsName},</if>
            <if test="bankNo != null">bankNo = #{bankNo},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteRecoverMoneyById" parameterType="Long">
        update recoverMoney set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteRecoverMoneyByIds" parameterType="String">
        update recoverMoney set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>