<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.RepaymentMapper">
    
    <resultMap type="Repayment" id="RepaymentResult">
        <result property="id"    column="id"    />
        <result property="loanNO"    column="loanNO"    />
        <result property="payNO"    column="payNO"    />
        <result property="moneyAmount"    column="moneyAmount"    />
        <result property="ratio"    column="ratio"    />
        <result property="payDate"    column="payDate"    />
        <result property="acountsName"    column="acountsName"    />
        <result property="bankNo"    column="bankNo"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
        <result property="checkState"    column="checkState"    />
    </resultMap>



    <sql id="selectRepaymentVo">
        select
        r.id,
        r.loanNO,
        r.payNO,
        r.moneyAmount,
        r.ratio,
        r.payDate,
        r.acountsName,
        r.bankNo,
        r.comments,
        r.addtime,
        r.userId,
        r.UserName,
        r.update_time,
        r.delFlag,
        -- 优先获取 payment 表的 paymentState，如果不存在则获取 paymentapply 表的 checkState
        CASE
        WHEN pa.checkState = '通过' THEN p.paymentState
        ELSE COALESCE(pa.checkState, '未申请')
        END as checkState  <!-- 修改后的审核/支付状态 -->
        from
        repayment r
        left join
        paymentApply pa
        on
        pa.tableName = 'repayment'
        and pa.tID = r.id
        and (pa.checkState = '审核中' or pa.checkState = '通过')
        left join
        payment p
        on
        p.applyId = pa.id
        and p.delFlag = 0
    </sql>
    <select id="selectRepaymentList" parameterType="Repayment" resultMap="RepaymentResult">
        <include refid="selectRepaymentVo"/>
        <where>
            <if test="loanNO != null  and loanNO != ''"> and r.loanNO = #{loanNO}</if>
            <if test="payNO != null  and payNO != ''"> and r.payNO = #{payNO}</if>
            <if test="moneyAmount != null "> and r.moneyAmount = #{moneyAmount}</if>
            <if test="ratio != null "> and r.ratio = #{ratio}</if>
            <if test="payDate != null  and payDate != ''"> and r.payDate = #{payDate}</if>
            <if test="acountsName != null  and acountsName != ''"> and r.acountsName like concat('%', #{acountsName}, '%')</if>
            <if test="bankNo != null  and bankNo != ''"> and r.bankNo = #{bankNo}</if>
            <if test="comments != null  and comments != ''"> and r.comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and r.addtime = #{addtime}</if>
            <if test="userId != null "> and r.userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and r.UserName like concat('%', #{UserName}, '%')</if>
            and r.delFlag = 0
        </where>
    </select>

    <select id="selectRepaymentById" parameterType="Long" resultMap="RepaymentResult">
        <include refid="selectRepaymentVo"/>
        where
        r.id = #{id}  <!-- 根据 id 进行查询 -->
        and r.delFlag = 0
    </select>



    <insert id="insertRepayment" parameterType="Repayment" useGeneratedKeys="true" keyProperty="id">
        insert into repayment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="loanNO != null">loanNO,</if>
            <if test="payNO != null">payNO,</if>
            <if test="moneyAmount != null">moneyAmount,</if>
            <if test="ratio != null">ratio,</if>
            <if test="payDate != null">payDate,</if>
            <if test="acountsName != null">acountsName,</if>
            <if test="bankNo != null">bankNo,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="loanNO != null">#{loanNO},</if>
            <if test="payNO != null">#{payNO},</if>
            <if test="moneyAmount != null">#{moneyAmount},</if>
            <if test="ratio != null">#{ratio},</if>
            <if test="payDate != null">#{payDate},</if>
            <if test="acountsName != null">#{acountsName},</if>
            <if test="bankNo != null">#{bankNo},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateRepayment" parameterType="Repayment">
        update repayment
        <trim prefix="SET" suffixOverrides=",">
            <if test="loanNO != null">loanNO = #{loanNO},</if>
            <if test="payNO != null">payNO = #{payNO},</if>
            <if test="moneyAmount != null">moneyAmount = #{moneyAmount},</if>
            <if test="ratio != null">ratio = #{ratio},</if>
            <if test="payDate != null">payDate = #{payDate},</if>
            <if test="acountsName != null">acountsName = #{acountsName},</if>
            <if test="bankNo != null">bankNo = #{bankNo},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteRepaymentById" parameterType="Long">
        update repayment set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteRepaymentByIds" parameterType="String">
        update repayment set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>