<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.SocialInsuranceMapper">
    
    <resultMap type="SocialInsurance" id="SocialInsuranceResult">
        <result property="id"    column="id"    />
        <result property="basicSocialInsurance"    column="basicSocialInsurance"    />
        <result property="basicHousingFund"    column="basicHousingFund"    />
        <result property="depName"    column="depName"    />
        <result property="employeeName"    column="employeeName"    />
        <result property="employeeID"    column="employeeID"    />
        <result property="insuranceDate"    column="insuranceDate"    />
        <result property="isRecruiting"    column="isRecruiting"    />
        <result property="isDepletion"    column="isDepletion"    />
        <result property="healthySecuritySelf"    column="healthySecuritySelf"    />
        <result property="healthySecurityCompany"    column="healthySecurityCompany"    />
        <result property="injuryInsurance"    column="injuryInsurance"    />
        <result property="unemploymentSecuritySelf"    column="unemploymentSecuritySelf"    />
        <result property="unemploymentSecurityCompany"    column="unemploymentSecurityCompany"    />
        <result property="retirementSecuritySelf"    column="retirementSecuritySelf"    />
        <result property="retirementSecurityCompany"    column="retirementSecurityCompany"    />
        <result property="largeMedicalSecuritySelf"    column="largeMedicalSecuritySelf"    />
        <result property="largeMedicalSecurityCompany"    column="largeMedicalSecurityCompany"    />
        <result property="housingFundSelf"    column="housingFundSelf"    />
        <result property="housingFundCompany"    column="housingFundCompany"    />
        <result property="sumSelf"    column="sumSelf"    />
        <result property="sumCompany"    column="sumCompany"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>


 

    <sql id="selectSocialInsuranceVo">
        select id, basicSocialInsurance, basicHousingFund, depName, employeeName, employeeID, insuranceDate, isRecruiting, isDepletion, healthySecuritySelf, healthySecurityCompany, injuryInsurance, unemploymentSecuritySelf, unemploymentSecurityCompany, retirementSecuritySelf, retirementSecurityCompany, largeMedicalSecuritySelf, largeMedicalSecurityCompany, housingFundSelf, housingFundCompany, sumSelf, sumCompany, comments, addtime, userId, UserName, update_time, delFlag from socialInsurance
    </sql>

    <select id="selectSocialInsuranceList" parameterType="SocialInsurance" resultMap="SocialInsuranceResult">
        <include refid="selectSocialInsuranceVo"/>
        <where>  
            <if test="basicSocialInsurance != null "> and basicSocialInsurance = #{basicSocialInsurance}</if>
            <if test="basicHousingFund != null "> and basicHousingFund = #{basicHousingFund}</if>
            <if test="depName != null  and depName != ''"> and depName like concat('%', #{depName}, '%')</if>
            <if test="employeeName != null  and employeeName != ''"> and employeeName like concat('%', #{employeeName}, '%')</if>
            <if test="employeeID != null  and employeeID != ''"> and employeeID = #{employeeID}</if>
            <if test="insuranceDate != null  and insuranceDate != ''"> and insuranceDate = #{insuranceDate}</if>
            <if test="isRecruiting != null  and isRecruiting != ''"> and isRecruiting = #{isRecruiting}</if>
            <if test="isDepletion != null  and isDepletion != ''"> and isDepletion = #{isDepletion}</if>
            <if test="healthySecuritySelf != null "> and healthySecuritySelf = #{healthySecuritySelf}</if>
            <if test="healthySecurityCompany != null "> and healthySecurityCompany = #{healthySecurityCompany}</if>
            <if test="injuryInsurance != null "> and injuryInsurance = #{injuryInsurance}</if>
            <if test="unemploymentSecuritySelf != null "> and unemploymentSecuritySelf = #{unemploymentSecuritySelf}</if>
            <if test="unemploymentSecurityCompany != null "> and unemploymentSecurityCompany = #{unemploymentSecurityCompany}</if>
            <if test="retirementSecuritySelf != null "> and retirementSecuritySelf = #{retirementSecuritySelf}</if>
            <if test="retirementSecurityCompany != null "> and retirementSecurityCompany = #{retirementSecurityCompany}</if>
            <if test="largeMedicalSecuritySelf != null "> and largeMedicalSecuritySelf = #{largeMedicalSecuritySelf}</if>
            <if test="largeMedicalSecurityCompany != null "> and largeMedicalSecurityCompany = #{largeMedicalSecurityCompany}</if>
            <if test="housingFundSelf != null "> and housingFundSelf = #{housingFundSelf}</if>
            <if test="housingFundCompany != null "> and housingFundCompany = #{housingFundCompany}</if>
            <if test="sumSelf != null "> and sumSelf = #{sumSelf}</if>
            <if test="sumCompany != null "> and sumCompany = #{sumCompany}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            and delFlag = 0
        </where>
    </select>
    
    <select id="selectSocialInsuranceById" parameterType="Long" resultMap="SocialInsuranceResult">
        <include refid="selectSocialInsuranceVo"/>
        where id = #{id}
        and delFlag = 0
    </select>

    <insert id="insertSocialInsurance" parameterType="SocialInsurance" useGeneratedKeys="true" keyProperty="id">
        insert into socialInsurance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="basicSocialInsurance != null">basicSocialInsurance,</if>
            <if test="basicHousingFund != null">basicHousingFund,</if>
            <if test="depName != null">depName,</if>
            <if test="employeeName != null">employeeName,</if>
            <if test="employeeID != null">employeeID,</if>
            <if test="insuranceDate != null">insuranceDate,</if>
            <if test="isRecruiting != null">isRecruiting,</if>
            <if test="isDepletion != null">isDepletion,</if>
            <if test="healthySecuritySelf != null">healthySecuritySelf,</if>
            <if test="healthySecurityCompany != null">healthySecurityCompany,</if>
            <if test="injuryInsurance != null">injuryInsurance,</if>
            <if test="unemploymentSecuritySelf != null">unemploymentSecuritySelf,</if>
            <if test="unemploymentSecurityCompany != null">unemploymentSecurityCompany,</if>
            <if test="retirementSecuritySelf != null">retirementSecuritySelf,</if>
            <if test="retirementSecurityCompany != null">retirementSecurityCompany,</if>
            <if test="largeMedicalSecuritySelf != null">largeMedicalSecuritySelf,</if>
            <if test="largeMedicalSecurityCompany != null">largeMedicalSecurityCompany,</if>
            <if test="housingFundSelf != null">housingFundSelf,</if>
            <if test="housingFundCompany != null">housingFundCompany,</if>
            <if test="sumSelf != null">sumSelf,</if>
            <if test="sumCompany != null">sumCompany,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="basicSocialInsurance != null">#{basicSocialInsurance},</if>
            <if test="basicHousingFund != null">#{basicHousingFund},</if>
            <if test="depName != null">#{depName},</if>
            <if test="employeeName != null">#{employeeName},</if>
            <if test="employeeID != null">#{employeeID},</if>
            <if test="insuranceDate != null">#{insuranceDate},</if>
            <if test="isRecruiting != null">#{isRecruiting},</if>
            <if test="isDepletion != null">#{isDepletion},</if>
            <if test="healthySecuritySelf != null">#{healthySecuritySelf},</if>
            <if test="healthySecurityCompany != null">#{healthySecurityCompany},</if>
            <if test="injuryInsurance != null">#{injuryInsurance},</if>
            <if test="unemploymentSecuritySelf != null">#{unemploymentSecuritySelf},</if>
            <if test="unemploymentSecurityCompany != null">#{unemploymentSecurityCompany},</if>
            <if test="retirementSecuritySelf != null">#{retirementSecuritySelf},</if>
            <if test="retirementSecurityCompany != null">#{retirementSecurityCompany},</if>
            <if test="largeMedicalSecuritySelf != null">#{largeMedicalSecuritySelf},</if>
            <if test="largeMedicalSecurityCompany != null">#{largeMedicalSecurityCompany},</if>
            <if test="housingFundSelf != null">#{housingFundSelf},</if>
            <if test="housingFundCompany != null">#{housingFundCompany},</if>
            <if test="sumSelf != null">#{sumSelf},</if>
            <if test="sumCompany != null">#{sumCompany},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateSocialInsurance" parameterType="SocialInsurance">
        update socialInsurance
        <trim prefix="SET" suffixOverrides=",">
            <if test="basicSocialInsurance != null">basicSocialInsurance = #{basicSocialInsurance},</if>
            <if test="basicHousingFund != null">basicHousingFund = #{basicHousingFund},</if>
            <if test="depName != null">depName = #{depName},</if>
            <if test="employeeName != null">employeeName = #{employeeName},</if>
            <if test="employeeID != null">employeeID = #{employeeID},</if>
            <if test="insuranceDate != null">insuranceDate = #{insuranceDate},</if>
            <if test="isRecruiting != null">isRecruiting = #{isRecruiting},</if>
            <if test="isDepletion != null">isDepletion = #{isDepletion},</if>
            <if test="healthySecuritySelf != null">healthySecuritySelf = #{healthySecuritySelf},</if>
            <if test="healthySecurityCompany != null">healthySecurityCompany = #{healthySecurityCompany},</if>
            <if test="injuryInsurance != null">injuryInsurance = #{injuryInsurance},</if>
            <if test="unemploymentSecuritySelf != null">unemploymentSecuritySelf = #{unemploymentSecuritySelf},</if>
            <if test="unemploymentSecurityCompany != null">unemploymentSecurityCompany = #{unemploymentSecurityCompany},</if>
            <if test="retirementSecuritySelf != null">retirementSecuritySelf = #{retirementSecuritySelf},</if>
            <if test="retirementSecurityCompany != null">retirementSecurityCompany = #{retirementSecurityCompany},</if>
            <if test="largeMedicalSecuritySelf != null">largeMedicalSecuritySelf = #{largeMedicalSecuritySelf},</if>
            <if test="largeMedicalSecurityCompany != null">largeMedicalSecurityCompany = #{largeMedicalSecurityCompany},</if>
            <if test="housingFundSelf != null">housingFundSelf = #{housingFundSelf},</if>
            <if test="housingFundCompany != null">housingFundCompany = #{housingFundCompany},</if>
            <if test="sumSelf != null">sumSelf = #{sumSelf},</if>
            <if test="sumCompany != null">sumCompany = #{sumCompany},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteSocialInsuranceById" parameterType="Long">
        update socialInsurance set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteSocialInsuranceByIds" parameterType="String">
        update socialInsurance set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>