<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.StorehouseMapper">
    
    <resultMap type="Storehouse" id="StorehouseResult">
        <result property="id"    column="id"    />
        <result property="storeHouseName"    column="storeHouseName"    />
        <result property="address"    column="address"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>

    <sql id="selectStorehouseVo">
        select id, storeHouseName, address, delFlag from storehouse
    </sql>

    <select id="selectStorehouseList" parameterType="Storehouse" resultMap="StorehouseResult">
        <include refid="selectStorehouseVo"/>
        <where>  
            <if test="storeHouseName != null  and storeHouseName != ''"> and storeHouseName like concat('%', #{storeHouseName}, '%')</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="delFlag != null "> and delFlag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectStorehouseById" parameterType="Long" resultMap="StorehouseResult">
        <include refid="selectStorehouseVo"/>
        where id = #{id}
    </select>

    <insert id="insertStorehouse" parameterType="Storehouse" useGeneratedKeys="true" keyProperty="id">
        insert into storehouse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeHouseName != null">storeHouseName,</if>
            <if test="address != null">address,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeHouseName != null">#{storeHouseName},</if>
            <if test="address != null">#{address},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateStorehouse" parameterType="Storehouse">
        update storehouse
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeHouseName != null">storeHouseName = #{storeHouseName},</if>
            <if test="address != null">address = #{address},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStorehouseById" parameterType="Long">
        delete from storehouse where id = #{id}
    </delete>

    <delete id="deleteStorehouseByIds" parameterType="String">
        delete from storehouse where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>