<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.TableEditMessageMapper">
    
    <resultMap type="TableEditMessage" id="TableEditMessageResult">
        <result property="id"    column="id"    />
        <result property="tableName"    column="tableName"    />
        <result property="modifyTime"    column="modifyTime"    />
        <result property="reason"    column="reason"    />
        <result property="tid"    column="tid"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
    </resultMap>



    <sql id="selectTableEditMessageVo">
        select id, tableName, modifyTime, reason, tid, addtime, userId, UserName from tableEditMessage
    </sql>

    <select id="selectTableEditMessageList" parameterType="TableEditMessage" resultMap="TableEditMessageResult">
        <include refid="selectTableEditMessageVo"/>
        <where>  
            <if test="tableName != null  and tableName != ''"> and tableName like concat('%', #{tableName}, '%')</if>
            <if test="modifyTime != null  and modifyTime != ''"> and modifyTime = #{modifyTime}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="tid != null "> and tid = #{tid}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
        </where>
    </select>
    
    <select id="selectTableEditMessageById" parameterType="Long" resultMap="TableEditMessageResult">
        <include refid="selectTableEditMessageVo"/>
        where id = #{id}
    </select>

    <insert id="insertTableEditMessage" parameterType="TableEditMessage" useGeneratedKeys="true" keyProperty="id">
        insert into tableEditMessage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableName != null">tableName,</if>
            <if test="modifyTime != null">modifyTime,</if>
            <if test="reason != null">reason,</if>
            <if test="tid != null">tid,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableName != null">#{tableName},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
            <if test="reason != null">#{reason},</if>
            <if test="tid != null">#{tid},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
         </trim>
    </insert>

    <update id="updateTableEditMessage" parameterType="TableEditMessage">
        update tableEditMessage
        <trim prefix="SET" suffixOverrides=",">
            <if test="tableName != null">tableName = #{tableName},</if>
            <if test="modifyTime != null">modifyTime = #{modifyTime},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="tid != null">tid = #{tid},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
        </trim>
        where id = #{id}
    </update>
    <delete id="deleteTableEditMessageById" parameterType="Long">
        delete from tableEditMessage where id = #{id}
    </delete>
    <delete id="deleteTableEditMessageByIds" parameterType="String">
        delete from tableEditMessage where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>