<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dzu.system.mapper.TripReimbursementMapper">
    
    <resultMap type="TripReimbursement" id="TripReimbursementResult">
        <result property="id"    column="id"    />
        <result property="bTripId"    column="bTripId"    />
        <result property="item"    column="item"    />
        <result property="itemCost"    column="itemCost"    />
        <result property="comments"    column="comments"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="delFlag"    />
    </resultMap>


 

    <sql id="selectTripReimbursementVo">
        select id, bTripId, item, itemCost, comments, addtime, userId, UserName, update_time, delFlag from tripReimbursement
    </sql>

    <select id="selectTripReimbursementList" parameterType="TripReimbursement" resultMap="TripReimbursementResult">
        <include refid="selectTripReimbursementVo"/>
        <where>  
            <if test="bTripId != null "> and bTripId = #{bTripId}</if>
            <if test="item != null  and item != ''"> and item = #{item}</if>
            <if test="itemCost != null  and itemCost != ''"> and itemCost = #{itemCost}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
            and delFlag = 0
        </where>
    </select>
    
    <select id="selectTripReimbursementById" parameterType="Long" resultMap="TripReimbursementResult">
        <include refid="selectTripReimbursementVo"/>
        where id = #{id}
        and delFlag = 0
    </select>

    <insert id="insertTripReimbursement" parameterType="TripReimbursement" useGeneratedKeys="true" keyProperty="id">
        insert into tripReimbursement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bTripId != null">bTripId,</if>
            <if test="item != null">item,</if>
            <if test="itemCost != null">itemCost,</if>
            <if test="comments != null">comments,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">delFlag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bTripId != null">#{bTripId},</if>
            <if test="item != null">#{item},</if>
            <if test="itemCost != null">#{itemCost},</if>
            <if test="comments != null">#{comments},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateTripReimbursement" parameterType="TripReimbursement">
        update tripReimbursement
        <trim prefix="SET" suffixOverrides=",">
            <if test="bTripId != null">bTripId = #{bTripId},</if>
            <if test="item != null">item = #{item},</if>
            <if test="itemCost != null">itemCost = #{itemCost},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteTripReimbursementById" parameterType="Long">
        update tripReimbursement set delFlag = 1 where id = #{id}
    </update>
    <update id="deleteTripReimbursementByIds" parameterType="String">
        update tripReimbursement set delFlag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>