<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TableeditmessageMapper">
    
    <resultMap type="Tableeditmessage" id="TableeditmessageResult">
        <result property="id"    column="id"    />
        <result property="tableName"    column="tableName"    />
        <result property="modifyTime"    column="modifyTime"    />
        <result property="reason"    column="reason"    />
        <result property="tid"    column="tid"    />
        <result property="addtime"    column="addtime"    />
        <result property="userId"    column="userId"    />
        <result property="UserName"    column="UserName"    />
    </resultMap>

    <sql id="selectTableeditmessageVo">
        select id, tableName, modifyTime, reason, tid, addtime, userId, UserName from tableeditmessage
    </sql>

    <select id="selectTableeditmessageList" parameterType="Tableeditmessage" resultMap="TableeditmessageResult">
        <include refid="selectTableeditmessageVo"/>
        <where>  
            <if test="tableName != null  and tableName != ''"> and tableName like concat('%', #{tableName}, '%')</if>
            <if test="modifyTime != null  and modifyTime != ''"> and modifyTime = #{modifyTime}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="tid != null "> and tid = #{tid}</if>
            <if test="addtime != null  and addtime != ''"> and addtime = #{addtime}</if>
            <if test="userId != null "> and userId = #{userId}</if>
            <if test="UserName != null  and UserName != ''"> and UserName like concat('%', #{UserName}, '%')</if>
        </where>
    </select>
    
    <select id="selectTableeditmessageById" parameterType="Long" resultMap="TableeditmessageResult">
        <include refid="selectTableeditmessageVo"/>
        where id = #{id}
    </select>

    <insert id="insertTableeditmessage" parameterType="Tableeditmessage" useGeneratedKeys="true" keyProperty="id">
        insert into tableeditmessage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableName != null">tableName,</if>
            <if test="modifyTime != null">modifyTime,</if>
            <if test="reason != null">reason,</if>
            <if test="tid != null">tid,</if>
            <if test="addtime != null">addtime,</if>
            <if test="userId != null">userId,</if>
            <if test="UserName != null">UserName,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableName != null">#{tableName},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
            <if test="reason != null">#{reason},</if>
            <if test="tid != null">#{tid},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="UserName != null">#{UserName},</if>
         </trim>
    </insert>

    <update id="updateTableeditmessage" parameterType="Tableeditmessage">
        update tableeditmessage
        <trim prefix="SET" suffixOverrides=",">
            <if test="tableName != null">tableName = #{tableName},</if>
            <if test="modifyTime != null">modifyTime = #{modifyTime},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="tid != null">tid = #{tid},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="userId != null">userId = #{userId},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTableeditmessageById" parameterType="Long">
        delete from tableeditmessage where id = #{id}
    </delete>

    <delete id="deleteTableeditmessageByIds" parameterType="String">
        delete from tableeditmessage where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>